<li class="list-group-item music-list-li">
  <div class="row">
    <div class="col-">
      {% if album.cover %}
        <div class="float-right music-album-list-image" style="background-image:url('{{ album.cover.thumbnail_file.url }}')"></div>
      {% else %}
        <div class="float-right music-album-list-image" style="background-image:url('/static/icon.webp')"></div>
      {% endif %}
    </div>
    <div class="col-sm">
      <h5 class="music-title">
        <a href="{% url 'music:album_detail' album.slug %}">
          {{ album.title }}
        </a>
      </h5>
      <p class="music-meta">
        Performed by {{ album.artist }}, released by <a href="{% url 'members:member_profile' album.owner.username %}"><span class="index-heading-span">{{ album.owner }}</span></a> on {{ album.creation_date|date:"M d, Y" }}<br>
        {{ album.meta_description }}
      </p>
      {% if not album.is_public %}
	    <span class="badge badge-dark">Unpublished</span>
      {% endif %}
      {% if album.tags.all.count > 0 %}
        {% with album as object %}
          {% include 'object_tags.html' %}
        {% endwith %}
      {% endif %}
    </div>
  </div>
</li>

