{% extends "base.html" %}
{% block body_block %}
<div class="container music-bg">
  {% if album.is_public and album.members_only and not request.user.is_authenticated %}
    <p class="music-meta">This Album is only avaialble for Members of the site.</p>
  {% elif album.is_public or album.owner.pk == request.user.pk %}
    {% include './album_detail_button_bar.html' %}
    {% if album.members_only %}
      <p class="music-meta"><i>This Album is only avaialble for Members of the site.</i></p>
    {% endif %}
    <div class="row">
      <div class="col-sm-6">
        <!!-- Cover -->
        {% if album.cover %}
          <div class="col- music-album-image" style="background-image: url('{{ album.cover.image_file.url }}')"></div>   
          <br>
        {% endif %}
        <p class="music-album-info">
          {% if album.artist %}
            <span>{{ album.artist }}</span><br>
          {% endif %}
          {% if album.year %}
            <span>{{ album.year }}</span><br>
          {% endif %}
          {% if album.label %}
            <span>{{ album.label }}</span><br>
          {% endif %}
          {% if album.genre %}
            <span>{{ album.genre }}</span><br>
          {% endif %}
        </p>
        <!-- Blurb -->
        {% if album.text %}
          <p class="music-album-blurb">{{ album.text|linebreaks }}</p>
          <br>
        {% endif %}
      </div>
      <div class="col-sm-6">
        <!-- Track list -->
        {% if album.tracks.all.count > 0 %}
            <h4 class="music-title">Track List</h4>
            {% for track in album.tracks.all %}
              {% if track.is_public %}
                  <h5 class="music-title">
                    <a href="{% url 'music:track_detail' track.slug %}">{{ track.title }}</a>
                  </h5>
                  <!-- Sound -->
                  {% with track.sound as sound %}
                    <audio controls="controls">
                      {% include 'audio_mime_types.html' %}
                    </audio>
                    <br>
                    <br>
                  {% endwith %}
              {% endif %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
    <!-- Links -->
    {% if album.links.count > 0 %}
      <h4 class="music-title">Links</h4>
      {% with album.links.all as links %}
        {% include 'object_links.html' %}
      {% endwith %}
    {% endif %}
    <div class="clear"></div>
    <!-- Tags -->
    {% if album.tags.count > 0 %}
      {% include './object_tags.html' %}
      <br>
    {% endif %}
    <!-- Credits -->
    {% if album.is_public %}
      <p>Contributed by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> {% if album.publication_date %} on {{ album.publication_date }}{% endif %}{% if album.location %} from {{ album.location }}{% endif %}
      {% if object.last_modified > object.creation_date %}
        <br>Last updated on {{ object.last_modified }}
      {% endif %}
      </p>
    {% else %}
      <p class="album-meta">Created by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.creation_date }}<p>
      <br>
    {% endif %}
  {% else %}
    <p>This Album has not been published yet.</p>
    <br>
    <br>
  {% endif %}
  <br>
</div>
{% endblock %}
