<div class="row">
  {% if object.title %}
    <div class="col">
      <h3 class="music-title">Edit Album:</h3>
      <h4 class="music-title">{{ object.title }}</h4>
    </div>
    <div class="col-">
      <div class="container">
        <a class="btn btn-sm btn-primary" href="{% url 'music:track_create' %}?next={{ request.path }}">+Track</a>
        <a class="btn btn-sm btn-primary" href="{% url 'objects:image_create' %}?next={{ request.path }}">+Image</a>
        <a class="btn btn-sm btn-primary" href="{% url 'objects:link_create' %}?next={{ request.path }}">+Link</a>
        <a class="btn btn-sm btn-primary" href="{% url 'objects:tag_create' %}?next={{ request.path }}">+Tag</a>
      </div>
    </div>
  {% else %}
    <div class="col">
      <h3 class="form-label">New Album</h3>
      <p>Submit an Album you wish to publish. Create some Tracks then choose which Tracks will appear on the Album in the form below.</p>
    </div>
    <div class="col-">
      <div class="container">
        <a class="btn btn-sm btn-primary" href="{% url 'music:track_create' %}?next={{ request.path }}">Track</a>
        <a class="btn btn-sm btn-primary" href="{% url 'objects:image_create' %}?next={{ request.path }}">Image</a>
        <a class="btn btn-sm btn-primary" href="{% url 'objects:link_create' %}?next={{ request.path }}">Link</a>
        <a class="btn btn-sm btn-primary" href="{% url 'objects:tag_create' %}?next={{ request.path }}">Tag</a>
      </div>
    </div>
  {% endif %}
</div>
