{% if new_tracks or top_tracks %}
  {% if new_tracks %}
    <div class="music-section">
      <h4 class="music-title">New Tracks</h4>
      {% for track in new_tracks %}
        <li class="list-group-item music-list-li">
          {% include 'items/track_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
  {% if top_tracks %}
    <div class="music-section">
      <h4 class="music-title">Top Tracks</h4>
      {% for track in top_tracks %}
        <li class="list-group-item music-list-li">
          {% include 'items/track_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if new_albums or top_albums %}
  {% if new_albums %}
    <div class="music-section">
      <h4 class="music-title">New Albums</h4>
      {% for album in new_albums %}
        <li class="list-group-item music-list-li">
          {% include 'items/album_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
  {% if top_albums %}
    <div class="music-section">
      <h4 class="music-title">Top Albums</h4>
      {% for album in top_albums %}
        <li class="list-group-item music-list-li">
          {% include 'items/album_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
