<div class="row">
  <div class="col-sm music-page-section">
    {% if new_tracks.all.count > 0 %}
      <ul class="list-group music-section">
        <h4 class="music-page-title">New Tracks</h4>
        {% for track in new_tracks %}
          <li class="list-group-item music-list-li">
            {% include "./track_item.html" %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
  </div>
  <div class="col-sm music-page-section">
    {% if new_albums.all.count > 0 %}
      <ul class="list-group music-section">
        <h4 class="music-page-title">New Albums</h4>
        {% for album in new_albums %}
          <li class="list-group-item music-list-li">
            {% include "./album_item.html" %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm music-page-section">
    {% if top_tracks.all.count > 0 %}
      <ul class="list-group music-section">
        <h4 class="music-page-title">Top Tracks</h4>
        {% for track in top_tracks %}
          <li class="list-group-item music-list-li">
            {% include "./track_item.html" %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
  </div>
  <div class="col-sm music-page-section">
    {% if top_albums.count > 0 %}
      <ul class="list-group music-section">
        <h4 class="music-page-title">Top Albums</h4>
        {% for album in top_albums %}
          <li class="list-group-item music-list-li">
            {% include "./album_item.html" %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
  </div>
</div>
{% if profile.bitcoin_wallet or profile.litecoin_wallet %}
  <div class="music-section">
    <h4 class="music-page-title">Donate</h4>
    {% with profile.bitcoin_wallet as bitcoin_wallet %}
      {% with profile.litecoin_wallet as litecoin_wallet %}
        {% include 'objects/object_crypto_wallets.html' %}
      {% endwith %}
    {% endwith %}
  </div>
{% endif %}
{% if profile.links.count > 0 %}
  {% with profile.links.all as links %}
    <div class="music-section">
      <h4 class="music-page-title">External Links</h4>
      {% include 'objects/object_links.html' %}
    </div>
  {% endwith %}
{% endif %}
