{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid">
  <!-- Heading -->
  {% include './music_page_header.html' %}
  {% if sections or new_tracks or new_albums or profile.links.count.all > 0 or top_tracks or top_albums or profile.bitcoin_wallet or profile.litecoin_wallet %}
    <div class="row">
      {% if sections %}
        <div class="col-sm">
          {% if profile.text %}
            <p class="music-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './music_page_sections.html' %}
          {% if profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
            {% include './music_page_links.html' %}
          {% endif %}
        </div>
      {% endif %}
      {% if new_tracks or new_albums or top_tracks or top_albums %}
        <div class="col-sm">
          {% if not sections and profile.text %}
            <p class="music-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './music_page_items.html' %}
          {% if not sections %}
            {% include './music_page_links.html' %}
          {% endif %}
        </div>
      {% elif profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
        {% if not sections %}
          <div class="col-sm">
            {% include './music_page_links.html' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% elif profile.text %}
    <p class="music-page-span">{{ profile.text }}</p>
  {% else %}
    <span class="music-page-span music-alert"><i>Coming Soon...</i></span>
    <br>
  {% endif %}
</div>
{% endblock %}
