<div class="music-header" {% if profile.banner %}style="background-image: url('{{ profile.banner.image_file.url }}');"{% endif %}>
  <div class="row">
    {% if profile.logo %}
      <div class="col-sm-">
        <div class="container">
          <img class="music-logo" src="{{ profile.logo.image_file.url }}" alt="{{ profile.logo.thumbnail_file.title }}">
        </div>
      </div>
    {% endif %}
    {% if profile.show_title or profile.show_desc %}
      <div class="col-sm">
        {% if meta_title %}
          <h3 class="music-title music-page-span music-alert">{{ meta_title }}</h3>
        {% endif %}
        {% if meta_desc %}
          <br><p class="music-page-span music-alert"><i>{{ meta_desc }}</i></p>
        {% endif %}
      </div>
    {% endif %}
    {% if request.user.is_authenticated %}
      <div class="col-">
        <div class="container">
          <p>
            {% include 'objects/object_create_buttons.html' %}
          </p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
