{% extends "base.html" %}
{% block body_block %}
{% if profile.bg_image %}<div style="background-image: url('{{ profile.bg_image.image_file.url }}');">{% endif %}
<div class="container music-bg">
  {% if track.is_public or track.owner.pk == request.user.pk %}
    {% include './track_detail_title_bar.html' %}
    {% if not track.is_public %}
      <p class="track-meta">Owned by <span class="index-heading-span">
        <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a></span><br>Created on <span class="index-heading-span">{{ object.creation_date }}</span>
        <br>{% include 'objects/unpublished.html' %}
      </p>
    {% endif %}
    <div class="row">
      <div class="col-sm-6 ">
        <p class="music-track-info">
          {% if track.artist %}
            {{ track.artist }}<br>
          {% endif %}
          {% if track.year %}
            {{ track.year }}<br>
          {% endif %}
          {% if track.label %}
            {{ track.label }}<br>
          {% endif %}
          {% if track.genre %}
            {{ track.genre }}<br>
          {% endif %}
        </p>
        {% if track.sound %}
          {% with track.sound as sound %}
            <audio controls="controls">
              {% include 'audio_mime_types.html' %}
            </audio>
            <br>
          {% endwith %}
        {% endif %}
        <!-- Blurb -->
        {% if track.text %}
          <p class="music-track-blurb">{{ track.text|linebreaks }}</p>
          <br>
        {% endif %}
      </div>
      {% if track.video %}
        <!-- Video -->
        {% with track.video as video %}
          <div class="col-sm-6">
            <video class="music-video-md" style="background:transparent url('{{ track.image.image_file.url }}') no-repeat 0 0;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" preload="metadata" controls>
              {% include 'video_mime_types.html' %}
            </video>
            <p class="track-meta">
              {% if video.text %}
                {{ video.text }}<br>
              {% endif %}
              {% if video.credit %}
                <i>{{ video.credit }}</i>
              {% endif %}
              {% if track.video.owner.pk == request.user.pk %}
                <a href="{% url 'objects:video_update' video.pk %}?next={{ request.path }}">
                  <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
                </a>
              {% endif %}
            </p>
          </div>
        {% endwith %}
      {% elif track.image %}
        <!-- Image -->
        <div class="col-sm-">
          <div class="container">
            <img class="music-track-image" src="{{ track.image.image_file.url }}" alt="{{ track.image.title }}">   
          </div>
        </div>
      {% endif %}
      <!-- Sound -->
    </div>
    <br>
    <!-- Albums -->
    {% if albums.all.count > 0 %}
      <h4 class="music-title">Album{% if albums.all.count > 1 %}s{% endif %}</h4>
      <p>
        {% for album in albums %}
          <h5 class="music-title">
            <a href="{% url 'music:album_detail' album.slug %}">
              {{ album }}
            </a>
          </h5>
          <p>
            {{ album.meta_description }}
          </p>
        {% endfor %}
      </p>
      <br>
    {% endif %}
    <!-- Links -->
    {% if track.links.count > 0 %}
      <h4 class="music-title">Links</h4>
      {% with track.links.all as links %}
        {% include 'objects/object_links.html' %}
      {% endwith %}
    {% endif %}
    <!-- Wallets -->
    {% if track.bitcoin_wallet or foo.litecoin_wallet %}
      {% with track.bitcoin_wallet as bitcoin_wallet %}
        {% with track.litecoin_wallet as litecoin_wallet %}
          <h4 class="music-title">Donate</h4> 
          {% include 'objects/object_crypto_wallets.html' %}
        {% endwith %}
      {% endwith %}
    {% endif %}
    <!-- Credits -->
    {% if track.is_public %}
      <p>{% if track|is_original_release %}Released{% else %}Rereleased{% endif %} by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> {% if track.publication_date %} on {{ track.publication_date|date:"M d, Y" }}{% endif %}{% if track.location %} from {{ track.location }}{% endif %}
      {% if object.last_modified > object.creation_date %}
        <br>Last updated on {{ object.last_modified|date:"M d, Y" }}
      {% endif %}
      </p>
    {% endif %}
    <!-- Responses -->
    {% if responses.count > 0 %}
      <h4 class="music-title">Responses</h4>
      <ul class="list-group">
        {% for response in responses %}
          <li class="list-group-item music-list-li">
            {% include 'items/response_detail_item.html' %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
    <div class="row">
      <div class="col-sm">
        {% include 'objects/object_tags.html' %}
      </div>
      {% if track.is_public %}
        <div class="col-">
          <div class="container">
            {% include 'buttons/response_button.html' %}
            {% include 'buttons/marshmallow_button.html' %}
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <p>This Track has not been published yet.</p>
    <br>
  {% endif %}
  <br>
</div>
<br>
{% if profile.bg_image %}</div>{% endif %}
{% endblock %}
