<li class="list-group-item music-list-li">
  <div class="row">
    <div class="col-sm">
      <h4 class="music-title">
        <a href="{% url 'music:track_detail' track.slug %}">
          {{ track.title }}
        </a>
      </h4>
      {% if track.artist %}
        <p class="music-meta">{{ track.artist }}</p>
      {% endif %}
    </div>
    <div class="col-">
      <div class="container float-right">
        {% if track.image %}
          <div class="music-list-image" style="background-image:url('{{track.image.thumbnail_file.url }}')">
        {% elif track.owner.profile.image %}
          <div class="music-list-image" style="background-image:url('{{ track.owner.profile.image.thumbnail_file.url }}')">
        {% else %}
          <div class="music-list-image" style="background-image:url('/static/favicon.ico')">
        {% endif %}
      </div>
    </div>
  </div>
</li>
