<div class="row">
  <div class="col">
    {% if user_only %}
      <h3 class="brand-title">{{ member }}'s Tracks</h3>
    {% elif tag %}
      <h3 class="brand-title">
        Lookaway Tracks tagged with <span class="badge badge-secondary">{{ tag }}</span>
      </h3>
    {% else %}
      <h3 class="brand-title">
        {% if new %}New 
        {% elif top %}Top 
        {% endif %}
        Lookaway Tracks
      </h3>
    {% endif %}
  </div>
  {% if request.user.is_authenticated %}
    <div class="col-">
      <div class="container">
        <a href="{% url 'music:track_create' %}">
          <button type="button" class="btn btn-sm btn-primary create-button"><strong>+</strong></button>
        </a>
      </div>
    </div>
  {% endif %}
</div>
