{% extends 'header.html' %}
{% block logo_block %}
  <img class="home-logo" src="{{ profile.logo.thumbnail_file.url }}" alt="{{ profile.logo.title }}">
{% endblock %}
{% if meta_title %}
  {% block title_block %}
    <h3 class="home-brand-title home-page-span home-alert">{{ meta_title }}</h3><br>
  {% endblock %}
{% endif %}
{% if meta_desc %}
  {% block desc_block %}
    <p class="home-page-span home-alert"><i>{{ meta_desc }}</i></p><br>
  {% endblock %}
{% endif %}
{% block buttons_block %}
  {% include 'objects/object_create_buttons.html' %}
{% endblock %}
