<div class="row">
  <div class="col-sm">
    <!-- Posts -->
    {% if new_posts.count > 0 %}
      <div class="home-section">
        <h5 class="home-title">Posts</h5>
        <p class="posts-title">
          {% for post in new_posts %}
            {% include './home_page_post_item.html' %}
          {% endfor %}
          {% if top_posts.count > 0 %}
            {% for post in top_posts %}
              {% include './home_page_post_item.html' %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
    <!-- Responses -->
    {% if new_responses.count > 0 %}
      <div class="home-section">
        <h5 class="home-title">Responses</h5>
        <p class="responses-title">
          {% for response in new_responses %}
            {% include './home_page_response_item.html' %}
          {% endfor %}
          {% if top_responses.count > 0 %}
            {% for response in top_responses %}
              {% include './home_page_response_item.html' %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
    {% if new_articles.count > 0 %}
      <div class="home-section">
        <h5 class="home-title">Articles</h5>
        <p class="documentation-title">
          {% for article in new_articles %}
            {% include './home_page_article_item.html' %}
          {% endfor %}
          {% if top_articles.count > 0 %}
            {% for article in top_articles %}
              {% include './home_page_article_item.html' %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
    {% if new_stories.count > 0 %}
      <div class="home-section">
        <h5 class="home-title">Stories</h5>
        <p class="documentation-title">
          {% for story in new_stories %}
            {% include './home_page_story_item.html' %}
          {% endfor %}
          {% if top_stories.count > 0 %}
            {% for story in top_stories %}
              {% include './home_page_story_item.html' %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
    {% if new_documents.count > 0 %}
      <div class="home-section">
        <h5 class="home-title">Information</h5>
        <p class="documentation-title">
          {% for document in new_documents %}
            {% include './home_page_document_item.html' %}
          {% endfor %}
          {% if top_documents.count > 0 %}
            {% for document in top_documents %}
              {% include './home_page_document_item.html' %}
            {% endfor %}
          {% endif %}
        </p>
      </div>
    {% endif %}
    <!-- Documentation -->
    <!-- Art -->
    <div class="home-section">
      <div class="row">
        {% if new_visuals.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">New Visuals</h5>
            {% for visual in new_visuals %}
              {% include './home_page_visual_item.html' %}
            {% endfor %}
            <div class="clear"></div>
          </div>
        {% endif %}
        {% if top_visuals.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">Top Visuals</h5>
            {% for visual in top_visuals %}
              {% include './home_page_visual_item.html' %}
            {% endfor %}
            <div class="clear"></div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="home-section">
      <div class="row">
        {% if new_galleries.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">New Galleries</h5>
              {% for gallery in new_galleries %}
                {% include './home_page_gallery_item.html' %}
              {% endfor %}
            </p>
          </div>
        {% endif %}
        {% if top_galleries.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">Top Galleries</h5>
            {% for gallery in top_galleries %}
              {% include './home_page_gallery_item.html' %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <!-- Music -->
    <div class="home-section">
      <div class="row">
        {% if new_tracks.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">New Tracks</h5>
            {% for track in new_tracks %}
              {% include './home_page_track_item.html' %}
            {% endfor %}
          </div>
        {% endif %}
        {% if top_tracks.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">Top Tracks</h5>
            {% for track in top_tracks %}
              {% include './home_page_track_item.html' %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="home-section">
      <div class="row">
        {% if new_albums.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">New Albums</h5>
            {% for album in new_albums %}
              {% include './home_page_album_item.html' %}
            {% endfor %}
          </div>
        {% endif %}
        {% if top_albums.count > 0 %}
          <div class="col-sm">
            <h5 class="home-title">Top Albums</h5>
            {% for album in top_albums %}
              {% include './home_page_album_item.html' %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
