<!-- Posts -->
{% if new_posts.count > 0 %}
  <div class="home-section">
    <h5 class="home-title">Posts</h5>
    <p class="posts-title">
      {% for post in new_posts %}
        <span class="index-heading-span">&squf; <a href="{% url 'posts:post_detail' post.slug %}">{{ post.title }}</a></span>
      {% endfor %}
      {% if top_posts.count > 0 %}
        {% for post in top_posts %}
          <span class="index-heading-span">&squf; <a href="{% url 'posts:post_detail' post.slug %}">{{ post.title }}</a></span>
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Responses -->
{% if new_responses.count > 0 %}
  <div class="home-section">
    <h5 class="home-title">Responses</h5>
    <p class="responses-title">
      {% for response in new_responses %}
        <span class="index-heading-span">&squf; <a href="{% url 'posts:response_detail' response.slug %}">{{ response.title }}</a></span>
      {% endfor %}
      {% if top_responses.count > 0 %}
        {% for response in top_responses %}
          <span class="index-heading-span">&squf; <a href="{% url 'posts:response_detail' response.slug %}">{{ response.title }}</a></span>
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Documentation -->
{% if new_articles.count > 0 %}
  <div class="home-section">
    <h5 class="home-title">Articles</h5>
    <p class="documentation-title">
      {% for article in new_articles %}
        <span class="index-heading-span">&squf; <a href="{% url 'documentation:article_detail' article.slug %}">{{ article.title }}</a></span>
      {% endfor %}
      {% if top_articles.count > 0 %}
        {% for article in top_articles %}
          <span class="index-heading-span">&squf; <a href="{% url 'documentation:article_detail' article.slug %}">{{ article.title }}</a></span>
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
{% if new_stories.count > 0 %}
  <div class="home-section">
    <h5 class="home-title">Stories</h5>
    <p class="documentation-title">
      {% for story in new_stories %}
        <span class="index-heading-span">&squf; <a href="{% url 'documentation:story_detail' story.slug %}">{{ story.title }}</a></span>
      {% endfor %}
      {% if top_stories.count > 0 %}
        {% for story in top_stories %}
          <span class="index-heading-span">&squf; <a href="{% url 'documentation:story_detail' story.slug %}">{{ story.title }}</a></span>
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
{% if new_documents.count > 0 %}
  <div class="home-section">
    <h5 class="home-title">Information</h5>
    <p class="documentation-title">
      {% for document in new_documents %}
        <span class="index-heading-span">&squf; <a href="{% url 'documentation:support_document_detail' document.slug %}">{{ document.title }}</a></span>
      {% endfor %}
      {% if top_documents.count > 0 %}
        {% for document in top_documents %}
          <span class="index-heading-span">&squf; <a href="{% url 'documentation:support_document_detail' document.slug %}">{{ document.title }}</a></span>
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Art -->
{% if new_visuals.count > 0 %}
  <div class="home-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="home-title">New Visuals</h5>
        {% for visual in new_visuals %}
          {% include 'items/visual_tile.html' %}
        {% endfor %}
        <div class="clear"></div>
      </div>
      {% if top_visuals.count > 0 %}
        <div class="col-sm">
          <h5 class="home-title">Top Visuals</h5>
          {% for visual in top_visuals %}
            {% include 'items/visual_tile.html' %}
          {% endfor %}
          <div class="clear"></div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if new_galleries.count > 0 %}
  <div class="home-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="home-title">New Galleries</h5>
          {% for gallery in new_galleries %}
            {% include 'items/gallery_list_item.html' %}
          {% endfor %}
        </p>
      </div>
      {% if top_galleries.count > 0 %}
        <div class="col-sm">
          <h5 class="home-title">Top Galleries</h5>
          {% for gallery in top_galleries %}
            {% include 'items/gallery_list_item.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
<!-- Music -->
{% if new_tracks.count > 0 %}
  <div class="home-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="home-title">New Tracks</h5>
        {% for track in new_tracks %}
          {% include 'items/track_list_item.html' %}
        {% endfor %}
      </div>
      {% if top_tracks.count > 0 %}
        <div class="col-sm">
          <h5 class="home-title">Top Tracks</h5>
          {% for track in top_tracks %}
            {% include 'items/track_list_item.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if new_albums.count > 0 %}
  <div class="home-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="home-title">New Albums</h5>
        {% for album in new_albums %}
          {% include 'items/album_list_item.html' %}
        {% endfor %}
      </div>
      {% if top_albums.count > 0 %}
        <div class="col-sm">
          <h5 class="home-title">Top Albums</h5>
          {% for album in top_albums %}
            {% include 'items/album_list_item.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
