{% if sections %}
  <div class="form-field">
    <div class="row">
      <div class="col-sm">
        <h4 class="form-label">Landing Page Sections</h4>
      </div>
      <div class="col-">
        <div class="container">
        </div>
      </div>
    </div>
    <table class="">
      {% for section in sections %}
        <tr>
          <td>
            <a class="form-label" href="{% url 'home:home_page_section_detail' section.pk %}">{{ section }}</a>
          </td>
          <td>
            {% if section.is_enabled %}
              <span class="badge badge-success">Enabled</span>
            {% else %}
              <span class="badge badge-secondary">Disabled</span>
            {% endif %}
          </td>
          <td>
            {% include './homepagesection_add_button.html' %}
            {% include './homepagesection_edit_button.html' %}
            {% include './homepagesection_delete_button.html' %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <div class="container-fluid">
    <a class="btn btn-sm btn-primary" href="{% url 'home:home_page_section_create' %}?next={{ request.path }}">+Section</a>
  </div>
{% endif %}
