{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid">
  <!-- Heading -->
  {% include './home_page_header.html' %}
  {% if sections or new_posts or new_responses or new_articles or new_stories or new_documents or new_visuals or new_galleries or new_tracks or new_albums or top_posts or top_responses or top_articles or top_stories or top_documents or top_visuals or top_galleries or top_tracks or top_albums or profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
    <div class="row">
      {% if sections %}
        <div class="col-sm">
          {% if profile.text %}
            <p class="home-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './home_page_tags.html' %}
	      {% if sections %}
            {% for section in sections %}
              {% include './home_page_section.html' %}
            {% endfor %}
          {% endif %}
          {% if profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
            {% include './home_page_links.html' %}
          {% endif %}
        </div>
      {% endif %}
      {% if members or contributors or new_posts or new_responses or new_articles or new_stories or new_documents or new_visuals  or new_galleries or new_tracks or new_albums or top_posts or top_responses or top_articles or top_stories or top_documents or top_visuals or top_galleries or top_tracks or top_albums %}
        <div class="col-sm">
          {% if not sections and profile.text %}
            <p class="home-page-span">{{ profile.text }}</p>
          {% endif %}
          {% if not sections %}
            {% include './home_page_tags.html' %}
          {% endif %}
          {% include './home_page_items.html' %}
          {% if not sections %}
            {% include './home_page_links.html' %}
          {% endif %}
        </div>
      {% elif profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
        {% if not sections %}
          <div class="col-sm">
            {% include './home_page_tags.html' %}
            {% include './home_page_links.html' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% elif profile.text %}
    <p class="home-page-span">{{ profile.text }}</p>
  {% else %}
    <span class="home-page-span home-alert"><i>Coming Soon...</i></span>
    <br><br>
  {% endif %}
</div>
{% endblock %}
