<!-- Home Page Section Detail Title Bar -->
<div class="row">
  <div class="col">
    {% if not section.hide_title %}
      <h4 class="home-title">{{ section.title }}</h4>
    {% endif %}
  </div>
  {% if section.owner.pk == request.user.pk %}
    <div class="col-auto">
      <div class="container">
        {% if show_home_page_section_add_button %}
          <td>
            <a href="{{ home_page_section_add_button|lookup:"url" }}?order={{ section.next_order }}"><button type="button" class="btn btn-sm btn-primary create-button">+</button></a>
          </td>
        {% endif %}
        {% if show_home_page_section_edit_button %}
          <td>
            <a href="{% url 'home:home_page_section_update' section.pk %}"><button type="button" class="btn btn-sm btn-warning edit-button">&#9998;</button></a>
          </td>
        {% endif %}
        {% if show_home_page_section_edit_button %}
          <td>
            <a href="{% url 'home:home_page_section_delete' section.pk %}"><button type="button" class="btn btn-sm btn-danger delete-button">X</button></a>
          </td>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div
