.nav-logo {
  max-width: 30px;
  max-height: 30px;
}

.nav-font {
  font-family: 'Baloo Paaji 2', sans-serif;
}

.nav-font-objects {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 0.8em;
}

.nav-image {
  max-height: 50px;
  width: auto;
}

.nav-pad {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-utf-symbol {
  font-size: 2.0em;
}
