{% extends "base.html" %}
{% block body_block %}
<div class="container crypto-bg">
  {% include './bitcoinwallet_detail_button_bar.html' %}
  {% load static %}
  <p>
    <img src="{% static 'bitcoin_logo_sm.webp' %}">
  </p>
  <span class="crypto-address-block">{{ bitcoinwallet.public_address }}</span><br><br>
  <img class="crypto-qr-lg" src="{{ bitcoinwallet.qr_code_lg.url }}" alt="bitcoin:{{ bitcoinwallet.public_address }}">
  <br>
  {% if bitcoinwallet.text %}
    <p>{{ bitcoinwallet.text }}</p>
  {% endif %}
  <br>
  <p>
  </p>
  {% if bitcoinwallet.tags.all.count > 0 %}
    {% include './object_tags.html' %}
    <br>
  {% endif %}
  {% include './object_meta_data.html' %}
  <br>
</div>
{% endblock %}
