<li class="list-group-item crypto-list-li">
  <div class="row">
    <div class="col-auto">
      {% if litecoinwallet.qr_code_lg %}
        <img class="crypto-list-image" src="{{ litecoinwallet.qr_code_lg.url }}" alt="{{ litecoinwallet.title }} litecoin wallet QR Code">
      {% else %}
        <div class="crypto-list-image" style="background-image:url('/static/icon.webp')"></div>
      {% endif %}
    </div>
    <div class="col-sm">
      <h5 class="crypto-title">
        <a href="{% url 'crypto:litecoinwallet_detail' litecoinwallet.pk %}">
          {{ litecoinwallet.title }}
        </a>
      </h5>
      <p class="crypto-meta">
        Added on {{ litecoinwallet.creation_date|date:"M d, Y" }}<br>
        Public Address: <span class="crypto-address-block">{{ litecoinwallet.public_address }}</span><br><br>
        {{ litecoinwallet.text }}<br>
      </p>
    </div>
  </div>
</li>

