.art-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.art-gallery-image {
  width: 650px;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.art-gallery-info {
  font-size: 1.25em;
}

.art-gallery-visual {
  font-size: 1.25em;
}

.art-list-image {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.art-list-li {
  background-color: #222222;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: #111111;
}

.art-meta {
  font-size: 0.8em;
}

.art-page-header {
  margin: auto;
  display: block;
}

.art-page-section {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #eeeeee;
  padding: 5px;
  margin: 5px;
}

.art-page-title {
  font-family: 'Permanent Marker', sans-serif;
}
.art-title {
  font-family: 'Averia Serif Libre', serif;
}
.art-visual-blurb {
  margin-left: 15px;
}

.art-visual-card {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.art-visual-info {
}

.art-visual-image {
  max-width: 100%;
  max-height: 750px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.art-visual-card-container {
  display: block;
}

.art-visual-matrix {
  max-height: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.art-video-md {
  max-width: auto;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

