.code-bg {
  background-color: #222222;
  color: #eeeeee;
  max-width: auto;
  border-radius: 0px 0px 15px 15px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.code-block {
  font-family: 'IBM Plex Mono', monospace;
  color: #dddddd;
  background-color: #000000;
  padding: 10px;
  max-width: 100%;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: auto;
}

.code-box {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
  color: #eeeeee;
  background-color: #222222;
  border-color: #eeeeee;
  max-width: 100%;
  height: 200px;
  overflow-x: auto;
  overflow-y: auto;
} 

.code-list-li {
  background-color: #222222;
  color: #ffffff;
}

.code-title {
  font-family: 'IBM Plex Mono', monospace;
}
