.crypto-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.crypto-title {
  font-family: 'Ibarra Real Nova', serif;
}
