.documentation-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.documentation-story-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.documentation-alert {
  display: inline-block;
}

.documentation-image-matrix {
  max-height: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.documentation-caption {
  text-align: left;
  margin: 5px;
}

.documentation-card {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.documentation-card-container {
  display: block;
}

.documentation-card-title {
  font-size: 0.75em;
  color: #eeeeee;
  background: #222222;
  padding: 5px;
}

.documentation-credit {
  text-align: right;
  margin: 5px;
}

.documentation-form-selector {
  scrollbar-color: dark;
  overflow-y: scroll;
  max-height: 400px;
} 

.documentation-gallery-bg {
  background-color: #222222;
  color: #ffffff;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.documentation-gallery-carousel {
  width: 100%;
  height: 700px;
}

.documentation-gallery-credit {
  font-family: 'IBM Plex Mono', monospace;
}

.documentation-gallery-image {
  max-width: 100%;
  max-height: 650px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.documentation-gallery-li {
  background-color: #222222;
  color: #ffffff;
  padding: 20px;
  border-bottom: solid 2px #111111;
}

.documentation-gallery-list-image {
  max-width: 100%;
  max-height: 650px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.documentation-gallery-thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.documentation-image {
  max-width: 100%;
  max-height: 750px;
  border-radius: 5px;
}

.documentation-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.documentation-list-li {
  background-color: #222222;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: #111111;
}

.documentation-piece-card {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #222222;
  background-size: cover;
  padding: 5px;
  margin: 10px;
}

.documentation-piece-description {
  max-width: 500px;
  text-align: left;
  margin: 5px;
}

.documentation-piece-card-title {
  font-family: 'Tajawal', sans-serif;
  font-size: 0.75em;
  color: #eeeeee;
  background: #222222;
  padding: 5px;
}

.documentation-section {
  max-width: 100%;
}

.documentation-story-section-image {
  max-width: 250px;
  margin-left: 15px;
  margin-right: 40px;
  font-size: 0.75em;
  display: inline-block;
}

.documentation-story-section-image-container {
  max-width: 50%;
  display: inline-block;
}

.documentation-story-section-text {
  min-width: 50%;
}

.documentation-section-li {
  background-color: #222222;
  color: #ffffff;
}

.documentation-section-title {
  font-family: 'Ibarra Real Nova', serif;
}

.documentation-thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}

.documentation-title {
  font-family: 'Averia Serif Libre', serif;
}
