.home-alert {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #111111;
}

.home-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.home-brand-name {
  font-family: 'Baloo Paaji 2', sans-serif;
}

.home-header {
  padding: 15px;
  border-radius: 5px;
}

.home-list-card {
  color: #ffffff;
  background-color: #222222;
  max-width: 550px;
  display: block;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #111111;
  border-radius: 5px;
}

.home-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.home-list-li {
  background-color: #222222;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: #111111;
}

.home-logo {
  max-height: 150px;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.home-meta {
  font-size: 0.8em;
}

.home-page-header {
  margin: auto;
  display: block;
}

.home-page-section {
  padding: 5px;
  margin: 5px;
}

.home-page-span {
  color: #ffffff;
  background-color: #222222;
  padding: 10px;
  line-height: 1.75;
  border-radius: 5px;
}

.home-section {
  color: #eeeeee;
  background-color: #222222;
  max-width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  border-color: #111111;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

.home-title {
  font-family: 'Averia Serif Libre', serif;
}

.home-video-md {
  max-width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
