.image-bg {
  background-color: #eeeeee;
  color: #222222;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.image-matrix {
  max-height: 1500px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.images-caption {
  text-align: left;
  margin: 5px;
}

.images-card {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eeeeee;
}

.images-card-container {
  display: block;
}

.images-card-title {
  font-size: 0.75em;
  color: #222222;
  background: #eeeeee;
  padding: 5px;
}

.images-credit {
  text-align: right;
  margin: 5px;
}

.images-form-selector {
  scrollbar-color: dark;
  overflow-y: scroll;
  max-height: 400px;
} 

.images-gallery-bg {
  background-color: #eeeeee;
  color: #111111;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.images-gallery-carousel {
  width: 100%;
  height: 700px;
}

.images-gallery-credit {
  font-family: 'Courier New', monospace;
}

.images-gallery-image {
  max-width: 100%;
  max-height: 650px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.images-gallery-li {
  background-color: #eeeeee;
  color: #111111;
  padding: 20px;
  border-bottom: solid 2px #ffffff;
}

.images-gallery-list-image {
  max-width: 100%;
  max-height: 650px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.images-gallery-thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.images-gallery-title {
  font-family: 'Times New Roman', serif;
}

.images-image {
  max-width: 100%;
  max-height: 750px;
  border-radius: 5px;
}

.images-list-li {
  background-color: #eeeeee;
  color: #111111;
}

.images-piece-card {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #eeeeee;
  background-size: cover;
  padding: 5px;
  margin: 10px;
}

.images-piece-description {
  max-width: 500px;
  text-align: left;
  margin: 5px;
}

.images-piece-card-title {
  font-family: 'Tahoma', sans-serif;
  font-size: 0.75em;
  color: #222222;
  background: #eeeeee;
  padding: 5px;
}

.images-section-image {
  width: 335px;
  margin: 15px;
  font-size: 0.75em;
  display: inline-block;
  float: left;
}

.images-thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}

.image-title {
  font-family: 'Courier New', monospace;
}
