.index-bg {
  background-color: #111111;
  font-family: 'Tajawal', sans-serif;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.index-col {
  margin-bottom: 40px;
}

.index-image-martix {
  max-width: 520px;
  max-height: 520px;
}

.index-page-header {
  font-size: 1.25em;
  margin: auto;
  display: block;
}

.index-section {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #eeeeee;
  padding: 5px;
  margin: 5px;
}

.index-link {
  color: #eeeeee;
}

.index-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.index-list-li {
  background-color: #222222;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: #111111;
  border-radius: 10px;
}

.index-meta {
  font-size: 0.8em;
}

.index-title {
  font-family: 'Averia Serif Libre', serif;
}

.index-brand-name {
  /* font-family: 'Playfair Display SC', serif; */
  /*font-family: 'Averia Serif Libre', serif;*/
  /* font-family: 'Ibarra Real Nova', serif; */
  /* font-family: 'Permanent Marker', sans-serif; */
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 3.5em;
}

.index-visual-card {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}
