.index-bg {
  background-color: #222222;
  font-family: 'Tajawal', sans-serif;
  color: #eeeeee;
  max-width: 1500px;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.index-brand-name {
  font-family: 'Baloo Paaji 2', sans-serif;
  font-size: 3.5em;
}

.index-col {
  width: 350px;
  margin-left: 10px;;
  margin-bottom: 10px;
  float: left;
}

.index-album-list-image {
  width: 105px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
  border-style: solid;
  border-width: 2px 2px 2px 5px;
  border-radius: 5px;
  border-color: #eeeeee;
  display: block;
}

.index-album-link {
  font-color: #eeeeee;
}

.index-album-meta {
  font-color: #eeeeee;
  font-size: 0.75em;
  background-color: #222222;
  margin: 3px;
  padding: 3px;
}

.index-album-title {
  font-color: #eeeeee;
  font-family: 'Averia Serif Libre', serif;
  background-color: #222222;
  margin: 3px;
  padding: 3px;
}

.index-audio-player {
  width: 100px;
  margin-right: 10px;
}

.index-gallery-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #000000; 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.index-gallery-meta {
  font-color: #eeeeee;
  font-size: 0.75em;
  background-color: #222222;
  margin: 3px;
  padding: 3px;
}

.index-gallery-title {
  font-color: #eeeeee;
  font-family: 'Averia Serif Libre', serif;
  background-color: #222222;
  margin: 3px;
  padding: 3px;
}

.index-heading-span {
  display: inline-block;
  whitespace: nowrap;
}

.index-image-martix {
  max-width: 520px;
  max-height: 520px;
}

.index-link {
  margin-left: 10px;
}

.index-page-header {
  font-size: 1.25em;
  margin: auto;
  display: block;
}

.index-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.index-list-li {
  background-color: #222222;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: #111111;
  border-radius: 10px;
}

.index-meta {
  font-size: 0.8em;
}

.index-post-title {
  font-family: 'Averia Serif Libre', serif;
  font-size: 1.1em;
}

.index-title {
  font-family: 'Ibarra Real Nova', serif;
}

.index-track-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee; 
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
} 

.index-visual-box {
  max-width: 500px;
  margin-left: 10px;;
  margin-bottom: 10px;
  float: left;
}

.index-visual-card {
  width: 100px;
  height: 100px;
  margin: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}
