.links-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}

.link-list-card {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.link-list-li {
  background-color: #222222;
  color: #ffffff;
}

.link-list-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
}

.link-title {
  font-family: 'Ibarra Real Nova', serif;
}

