.music-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.music-album-image {
  max-width: 100%;
  max-height: 500px;
}

.music-album-info {
  font-size: 1.25em;
}

.music-album-track {
  font-size: 1.25em;
}

.music-list-image {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.music-list-li {
  background-color: #222222;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-color: #111111;
}

.music-meta {
  font-size: 0.8em;
}

.music-page-header {
  margin: auto;
  display: block;
}

.music-page-section {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #eeeeee;
  padding: 5px;
  margin: 5px;
}

.music-page-title {
  font-family: 'Permanent Marker', sans-serif;
}
.music-title {
  font-family: 'Averia Serif Libre', serif;
}
.music-track-blurb {
  margin-left: 15px;
}

.music-track-card {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222222;
}

.music-track-info {
  font-size: 1.25em;
}

.music-track-image {
  max-width: 100%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.music-track-card-container {
  display: block;
}

.music-video-md {
  max-width: auto;
  max-height: auto;
  display: block;
}

