.nav-logo {
  max-width: 30px;
  max-height: 30px;
}

.nav-font {
  font-family: 'Baloo Paaji 2', sans-serif;
  color: #222222;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-pad {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-utf-symbol {
  font-size: 2.0em;
}
