.nav-logo {
  max-width: 30px;
  max-height: 30px;
}

.nav-font {
  font-family: 'Averia Serif Libre', serif;
  color: #333333;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-pad {
  padding-left: 20px;
  padding-right: 20px;
}
