.sound-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}
.sound-image-thumbnail {
}

.sound-list-li {
  background-color: #222222;
  color: #ffffff;
  padding: 20px;
  border-bottom: solid 2px #111111;
}

.sound-title {
  font-family: 'Ibarra Real Nova', serif;
}
