.sound-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.sound-list-li {
  background-color: #222222;
  color: #ffffff;
}

.sound-title {
  font-family: inherit;
}
