.studio-bg {
  background-color: #333333;
  border-radius: 0px 0px 25px 25px;
}
.studio-button {
  margin: 3px;
}

.studio-col {
  max-width: auto;
}

.studio-image-card {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
}

.studio-image-matrix {
  max-height: 400px;
  max-width: 400px;
}

.studio-title {
  font-family: 'Averia Serif Libre', serif;
}
