.studio-button {
  margin: 3px;
}

.studio-col {
  width: auto;
}

.studio-image-card {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
}

.studio-image-matrix {
  max-height: 400px;
  max-width: 400px;
}

.studio-title {
  font-family: 'Ibarra Real Nova', serif;
}
