.tags-bg {
  background-color: #eeeeee;
  color: #222222;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.tag-list-card {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tag-list-li {
  background-color: #eeeeee;
  color: #111111;
  padding: 20px;
  border-bottom: solid 2px #ffffff;
}

.tag-list-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eeeeee;
}

.tag-list-link {
  font-family: 'Courier New', monospace;
  font-size: 0.75em;
}

.tag-font {
  color: #111111;
  font-size: 16px;
}

.tag-title {
  font-family: 'Times New Roman', serif;
}

