.video-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.video-list-li {
  background-color: #222222;
  color: #ffffff;
}

.video-player {
  max-width: 100%;
  max-height: auto;
}

.video-player-sm {
  max-width: 100%;
  max-height: 400px;
}

.video-title {
  font-family: 'IBM Plex Mono', monospace;
}

