{% if x.field.choices.queryset.all|length == 0 %}
  <div class="col-md form-field">
    <p><i>No visuals found.</i></p>
  </div>
{% else %}
  <div class="col-md form-field">
    <h5 class="form-label">
      {{ x.label }}
      {% if x.help_text %}
        <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ x.help_text }}">&#9432;</span>
      {% endif %}
    </h5>
    <p>{{ x.errors }}</p>
    <div class="form-image-selection">
      {% for value, label, obj in x.field.choices %}
        {% if value != '' %}
          <div class="form-image-card float-start" style="background-image:url('{{ obj.image.thumbnail_file.url }}')">
            {% block input_block %}
            {% endblock %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
