{% extends 'form.html' %}
{% block header_block %}
  {% include './art_form_header.html' %}
  {% if form.fields.image.queryset.all.count == 0 %}
    <br>
    <p class="alert alert-warning art-alert">
      <i><strong>IMPORTANT:</strong>You must
        <span class="index-heading-span"><a href="{% url 'objects:image_create' %}?next={{ request.path }}">upload an image</a> before you can add a {{ meta_title|lower }}!</i></span>&nbsp;
    </p>
  {% endif %}
  {% if form.fields.visuals.queryset.all.count == 0 %}
    <br>
    <p class="alert alert-warning art-alert">
      <i><strong>IMPORTANT:</strong>You must
        <span class="index-heading-span"><a href="{% url 'art:visual_create' %}?next={{ request.path }}">add a visual</a> before you can add a {{ meta_title|lower }}!</i></span>&nbsp;
    </p>
  {% endif %}
{% endblock %}
