{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container art-bg">
  <!-- Heading -->
  {% include './art_page_button_bar.html' %}
  <p>
    <a href="{% url 'art:top_visuals' %}">top visuals</a> | <a href="{% url 'art:top_galleries' %}">top galleries</a> | <a href="{% url 'art:new_visuals' %}">new visuals</a> | <a href="{% url 'art:new_galleries' %}">new galleries</a>
  </p>
  <div class="row">
    {% if top_visuals.all.count > 0 %}
      <div class="col-sm art-page-section">
      <div class="container">
        <h4 class="art-page-title">Top Visuals</h4>
      </div>
        {% for visual in top_visuals %}
          {% include "./visual_item.html" %}
        {% endfor %}
        <div class="clear"></div>
        <div class="container">
          <p><a href="{% url 'art:top_visuals' %}">all top visuals</a></p>
        </div>
      </div>
    {% endif %}
    {% if top_galleries.count > 0 %}
      <div class="col-sm art-page-section">
      <div class="container">
        <h4 class="art-page-title">Top Galleries</h4>
      </div>
        <ul class="list-group">
          {% for gallery in top_galleries %}
            {% include "./gallery_item.html" %}
          {% endfor %}
        </ul>
        <div class="container">
          <p><a href="{% url 'art:top_galleries' %}">all top galleries</a></p>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-sm art-page-section">
      <div class="container">
        <h4 class="art-page-title">New Visuals</h4>
      </div>
      {% if new_visuals.all.count > 0 %}
        <div class="container">
          {% for visual in new_visuals %}
            {% include "./visual_item.html" %}
          {% endfor %}
        </div>
        <div class="clear"></div>
        <div class="container">
          <p><a href="{% url 'art:new_visuals' %}">all new visuals</a></p>
        </div>
      {% else %}
        <p>There are no Visuals yet. Please check back soon.</p>
      {% endif %}
    </div>
    <div class="col-sm art-page-section">
      <div class="container">
        <h4 class="art-page-title">New Galleries</h4>
      </div>
      {% if new_galleries.all.count > 0 %}
        <ul class="list-group">
          {% for gallery in new_galleries %}
            {% include "./gallery_item.html" %}
          {% endfor %}
        </ul>
        <div class="container">
          <p><a href="{% url 'art:new_galleries' %}">all new galleries</a></p>
        </div>
      {% else %}
        <p>There are no Galleries yet. Please check back soon.</p>
      {% endif %}
    </div>
  </div>
  <br>
</div>
{% endblock %}
