<div class="row">
  <div class="col">
    <h3 class="art-title">{{ gallery.title }}</h3>
  </div>
  <div class="col-">
    {% if gallery.owner.pk == request.user.pk %}
      <a href="{% url 'art:gallery_delete' gallery.pk %}">
        <button type="button" class="btn btn-sm btn-danger float-right">Delete</button>
      </a>
      <a href="{% url 'art:gallery_update' gallery.slug %}">
        <button type="button" class="btn btn-sm btn-warning float-right">Edit</button>
      </a>
      {% if not gallery.is_public %}
        <a href="{% url 'art:publish_gallery' gallery.pk %}">
          <button type="button" class="btn btn-sm btn-success float-right">Publish</button>
        </a>
      {% endif %}
    {% endif %}
    {% if gallery.is_public and can_add_marshmallow %}
      <a href="{% url 'art:gallery_marshmallow' gallery.pk %}">
        <button type="button" class="btn btn-sm btn-light marshmallow-button float-right">M</button>
      </a>
    {% endif %}
  </div>
</div>
