{% extends 'base.html' %}
{% block body_block %}
<div class="container art-bg">
  {% include "./gallery_list_button_bar.html" %}
  {% if galleries %}
    <p><a href="{% url 'art:top_galleries' %}">top galleries</a> | <a href="{% url 'art:new_galleries' %}">new galleries</a> | <a href="{% url 'art:top_visuals' %}">top visuals</a> | <a href="{% url 'art:new_visuals' %}">new visuals</a></p>
    {% include "page_control.html" %}
    <ul class="list-group">
      {% include "./gallery_list_item.html" %}
    </ul>
    {% include "page_control.html" %}
    <br>
  {% else %}
    <p>No Galleries have been published yet. Check back soon!</p>
    <br>
  {% endif %}
</div>
{% endblock %}
