{% extends "base.html" %}
{% block body_block %}
{% if profile.bg_image %}<div style="background-image: url('{{ profile.bg_image.image_file.url }}');">{% endif %}
<div class="container art-bg">
  {% if gallery.is_public and gallery.members_only and not request.user.is_authenticated %}
    <div class="container">
      <p class="art-meta">This Gallery is only avaialble for Members of the site.</p>
    </div>
  {% elif gallery.is_public or gallery.owner.pk == request.user.pk %}
    {% include './gallery_detail_title_bar.html' %}
    <p>
      {% if gallery.artist %}
        A collection of work by <span class="index-heading-span">{{ gallery.artist }}</span><br>
      {% endif %}
      <!-- Meta data -->
      {% if gallery.is_public %}
        Curated by <span class="index-heading-span"><a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a></span>{% if gallery.publication_date %}, opened on <span class="index-heading-span">{{ gallery.publication_date|date:"M d, Y" }}</span>{% endif %}{% if gallery.location %} at <span class="index-heading-span">{{ gallery.location }}</span>{% endif %}
      </p>
    {% else %}
      <p class="gallery-meta">Created by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.creation_date }}<p>
      {% include 'objects/unpublished.html' %}
      <br>
    {% endif %}
    {% include './carousel.html' %}
    <!-- Links -->
    {% if gallery.links.count > 0 %}
      <h4 class="art-title">Links</h4>
      {% with gallery.links.all as links %}
        {% include 'objects/object_links.html' %}
      {% endwith %}
    {% endif %}
    <!-- Responses -->
    {% if responses.count > 0 %}
      <h4 class="art-title">Responses</h4>
      <ul class="list-group">
        {% for response in responses %}
          <li class="list-group-item art-list-li">
            {% include 'items/response_detail_item.html' %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
    {% if gallery.bitcoin_wallet or gallery.litecoin_wallet %}
      <h4 class="art-title">Donate</h4>
      <br>
      {% with gallery.bitcoin_wallet as bitcoin_wallet %}
        {% with gallery.litecoin_wallet as litecoin_wallet %}
          {% include 'objects/object_crypto_wallets.html' %}
        {% endwith %}
      {% endwith %}
    {% endif %}
    <div class="row">
      <div class="col-sm">
        {% include 'objects/object_tags.html' %}
      </div>
      {% if gallery.is_public %}
        <div class="col-">
          <div class="container">
            {% include 'buttons/response_button.html' %}
            {% include 'buttons/marshmallow_button.html' %}
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <p>This Gallery has not been published yet.</p>
    <br>
    <br>
  {% endif %}
  <br>
</div>
<br>
{% if profile.bg_image %}</div>{% endif %}
{% endblock %}
