<li class="list-group-item art-list-li">
  <div class="row">
    <div class="col-sm">
      <h4 class="art-title">
        <a href="{% url 'art:gallery_detail' gallery.slug %}">
          {{ gallery.title }}
        </a>
      </h4>
      {% if gallery.artist %}
        <p class="art-meta">{{ gallery.artist }}</p>
      {% endif %}
    </div>
    <div class="col-">
      <div class="container float-right">
        {% if gallery.visuals %}
          <div class="art-list-image" style="background-image:url('{{ gallery.visuals.all.0.image.thumbnail_file.url }}')">
        {% elif gallery.owner.profile.image %}
          <div class="art-list-image" style="background-image:url('{{ gallery.owner.profile.image.thumbnail_file.url }}')">
        {% else %}
          <div class="art-list-image" style="background-image:url('/static/favicon.ico')">
        {% endif %}
      </div>
    </div>
  </div>
</li>
