{% extends "base.html" %}
{% block body_block %}
<div class="container art-bg">
  {% if visual.is_public and visual.members_only and not request.user.is_authenticated %}
    <p class="art-meta">This Visual is only avaialble for Members of the site.</p>
  {% elif visual.is_public or visual.owner.pk == request.user.pk %}
    {% include './visual_detail_button_bar.html' %}
    <br>
    {% if visual.members_only %}
      <p class="art-meta"><i>This Visual is only avaialble for Members of the site.</i></p>
    {% endif %}
    <!-- Image -->
    {% if not visual.video %}
      <a href="{{ visual.image.image_file.url }}">
        <img class="art-visual-image" src="{{ visual.image.image_file.url }}" alt="{{ visual.image.title }}"><br>
      </a>
    {% endif %}
    <!-- Video -->
    {% if visual.video %}
      {% with visual.video as video %}
        <video class="art-video-md video-player" preload="metadata" poster="{{ visual.image.image_file.url }}" controls>
          {% include 'video_mime_types.html' %}
        </video>
      {% endwith %}
      <br>
    {% endif %}
    <!-- Info -->
    <p class="art-visual-info">
      {% if visual.artist %}{{ visual.artist }}{% endif %}<br>
      {{ visual.title }}{% if visual.year %}, {{ visual.year }}{% endif %}<br>
      {% if visual.medium %}{{ visual.medium }}<br>{% endif %}
      {% if visual.dimensions %}{{ visual.dimensions }}<br>{% endif %}
    </p>
    <!-- Blurb -->
    {% if visual.text %}
      <p class="art-visual-blurb">{{ visual.text|linebreaks }}</p>
    {% endif %}
    <!-- Galleries-->
    {% if galleries.all.count > 0 %}
      <h4 class="art-title">{% if galleries.all.count > 1 %}Galleries{% else %}Gallery{% endif %}</h4>
      <p>
        {% for gallery in galleries %}
          <h5 class="art-title">
            <a href="{% url 'art:gallery_detail' gallery.slug %}">
              {{ gallery }}
            </a>
          </h5>
          <p>
            {{ gallery.meta_description }}
          </p>
        {% endfor %}
      </p>
    {% endif %}
    <!-- Links -->
    {% if visual.links.count > 0 %}
      <h4 class="art-title">Links</h4> 
      {% with visual.links.all as links %}
        {% include 'object_links.html' %}
      {% endwith %}
    {% endif %}
    <!-- Tags -->
    {% if visual.tags.count > 0 %}
      {% include './object_tags.html' %}
      <br>
    {% endif %}
    <!-- Credits -->
    {% if visual.is_public %}
      <p>Contributed by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> {% if visual.publication_date %} on {{ visual.publication_date }}{% endif %}{% if visual.location %} from {{ visual.location }}{% endif %}
      {% if object.last_modified > object.creation_date %}
        <br>Last updated on {{ object.last_modified }}
      {% endif %}
      </p>
    {% else %}
      <p class="visual-meta">Created by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.creation_date }}<p>
      <br>
    {% endif %}
  {% else %}
    <p>This Visual has not been published yet.</p>
    <br>
    <br>
  {% endif %}
  <br>
</div>
{% endblock %}
