{% extends 'base.html' %}
{% block body_block %}
<div class="container art-bg">
  {% include './visual_list_button_bar.html' %}
  {% include './art_page_navbar.html' %}
  {% if visuals %}
    {% include "page_control.html" %}
    <br>
    <div class="art-visual-matrix">
      {% include "./visual_list_item.html" %}
      <div class="clear"></div>
    </div>
    {% include "page_control.html" %}
    <br>
  {% else %}
    <p>No Visuals have been published yet. Check back soon!</p>
    <br>
  {% endif %}
</div>
{% endblock %}
