{% extends "base.html" %}
{% block body_block %}
{% if profile.bg_image %}<div style="background-image: url('{{ profile.bg_image.image_file.url }}');">{% endif %}
<div class="container art-bg">
  {% if visual.is_public or visual.owner.pk == request.user.pk %}
    {% include './visual_detail_title_bar.html' %}
    <!-- Meta data -->
    {% if visual.is_public %}
      <p>
        Curated by <span class="index-heading-span"><a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a></span>
        {% if visual.publication_date %}<br>Published on <span class="index-heading-span">{{ visual.publication_date|date:"M d, Y" }}</span>{% endif %}{% if visual.location %} at <span class="index-heading-span">{{ visual.location }}</span>{% endif %}
      </p>
    {% else %}
      <p>
        Created by <span class="index-heading-span"><a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a></span> on <span class="index-heading-span">{{ object.creation_date }}</span>
      <p>
    {% endif %}
    <!-- Image -->
    {% if not visual.video %}
      <a href="{{ visual.image.image_file.url }}">
        <img class="art-visual-image" src="{{ visual.image.image_file.url }}" alt="{{ visual.image.title }}">
      </a><br>
    {% endif %}
    <!-- Video -->
    {% if visual.video %}
      {% with visual.video as video %}
        <video class="art-video-md" preload="metadata" poster="{{ visual.image.image_file.url }}" controls>
          {% include 'video_mime_types.html' %}
        </video>
      {% endwith %}
      <br>
    {% endif %}
    <!-- Info -->
    <p class="art-visual-info">
      {% if visual.artist %}{{ visual.artist }}{% endif %}<br>
      {{ visual.title }}{% if visual.year %}, {{ visual.year }}{% endif %}<br>
      {% if visual.medium %}{{ visual.medium }}<br>{% endif %}
      {% if visual.dimensions %}{{ visual.dimensions }}<br>{% endif %}
    </p>
    <br>
    <!-- Blurb -->
    {% if visual.text %}
      <p class="art-visual-blurb">{{ visual.text|linebreaks }}</p>
      <br>
    {% endif %}
    <!-- Galleries-->
    {% if galleries.all.count > 0 %}
      <h4 class="art-title">{% if galleries.all.count > 1 %}Galleries{% else %}Gallery{% endif %}</h4>
      <p>
        {% for gallery in galleries %}
          <h5 class="art-title">
            <a href="{% url 'art:gallery_detail' gallery.slug %}">
              {{ gallery }}
            </a>
          </h5>
          <p>
            {{ gallery.meta_description }}
          </p>
        {% endfor %}
      </p>
      <br>
    {% endif %}
    <!-- Links -->
    {% if visual.links.count > 0 %}
      <h4 class="art-title">Links</h4> 
      {% with visual.links.all as links %}
        {% include 'objects/object_links.html' %}
      {% endwith %}
    {% endif %}
    <!-- Responses -->
    {% if responses.count > 0 %}
      <h4 class="art-title">Responses</h4>
      <ul class="list-group">
        {% for response in responses %}
          <li class="list-group-item posts-list-li">
            {% include 'items/response_detail_item.html' %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
    <!-- Wallets -->
    {% if visual.bitcoin_wallet or visual.litecoin_wallet %}
      {% with visual.bitcoin_wallet as bitcoin_wallet %}
        {% with visual.litecoin_wallet as litecoin_wallet %}
          <h4 class="art-title">Donate</h4> 
          {% include 'objects/object_crypto_wallets.html' %}
        {% endwith %}
      {% endwith %}
    {% endif %}
    <div class="row">
      <div class="col-sm">
        {% include 'objects/object_tags.html' %}
      </div>
      {% if visual.is_public %}
        <div class="col-">
          <div class="container">
            {% include 'buttons/response_button.html' %}
            {% include 'buttons/marshmallow_button.html' %}
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <p>This Visual has not been published yet.</p>
    <br>
    <br>
  {% endif %}
  <br>
</div>
<br>
{% if profile.bg_image %}</div>{% endif %}
{% endblock %}
