[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=lookaway
Group=lookaway
WorkingDirectory=/home/lookaway/lookaway-env/lookaway
ExecStart=/home/lookaway/gunicorn_start

[Install]
WantedBy=multi-user.target
