<div class="row">
  <div class="col-auto">
    {% if member.profile.image %}
      <div class="members-list-image" style="background-image:url('{{ member.profile.image.thumbnail_file.url }}')"></div>
    {% else %}
      <div class="members-list-image" style="background-image:url('/static/icon.webp')"></div>
    {% endif %}
  </div>
  <div class="col-sm">
    <h6 class="members-title">
      <strong><a href="{% url 'members:member_profile' member.username %}">
        {{ member }}
      </a></strong>
    </h6>
    <p>
      Member since <span class="index-heading-span">{{ member.date_joined|date:"M d, Y" }}</span><br>
      {% include './member_badges.html' %}
    </p>
  </div>
</div>
{% if member.profile.meta_description %}
  <p>
    {{ member.profile.meta_description }}
  </p>
{% endif %}
