{% extends 'form.html' %}
{% block header_block %}
<div class="members-section">
  <h2 class="members-title">Update Personally Identifiable Information</h2>
  <p>
    We respect your right to remain anonymous. If you provide an email contact, your email address will only be used to recover your password in the event you no longer know you password. If you provide a first name and a last name, they will be displayed on public pages. Feel free to use a pseudonym, nickname or other handle. We ask that you do not impersonate any real person, living or dead.
  </p>
</div>
{% endblock %}
