<div class="members-header" {% if profile.banner %}style="background-image: url('{{ profile.banner.image_file.url }}');"{% endif %}>
  <div class="row">
    {% if profile.logo %}
      <div class="col-sm-">
        <div class="container">
          <img class="members-logo" src="{{ profile.logo.image_file.url }}" alt="{{ profile.logo.title }}">
        </div>
      </div>
    {% endif %}
    {% if profile.show_title or profile.show_desc %}
      <div class="col-sm">
        {% if profile.title and profile.show_title %}
          <h3 class="brand-title members-page-span members-alert">{{ meta_title }}</h3>
        {% endif %}
        {% if meta_desc and profile.show_desc %}
          <br><p class="members-page-span members-alert"><i>{{ meta_desc }}</i></p>
        {% endif %}
      </div>
    {% endif %}
    {% if request.user.is_authenticated %}
      <div class="col-">
        <div class="container">
          <p>
            {% if show_create_button %} 
              <a class="btn btn-sm btn-primary" href="{% url 'invite' %}">+Invite</a>
            {% endif %}
            {% if show_edit_profile_button %} 
              <a href="{% url 'members:members_app_profile_update' 1 %}?next={{ request.path }}">
                <button class="btn btn-sm btn-warning">Edit App</button>
              </a>
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}
  </div>
  {% if profile.text %}
    <p class="members-page-span members-alert">{{ profile.text }}</p>
  {% endif %}
  {% include './members_page_navbar.html' %}
</div>
