<div class="form-field">
  <div class="row">
    <div class="col-sm">
      <h4 class="form-label">Profile Page Sections</h4>
    </div>
    <div class="col-">
      <div class="container">
       <a class="btn btn-sm btn-primary" href="{% url 'members:member_profile_section_create' %}?next={{ request.path }}">+Section</a>
      </div>
    </div>
  </div>
  {% if sections %}
    <table class="">
      {% for section in sections %}
        <tr>
          <td>
            <a class="form-label" href="{% url 'members:member_profile_section_detail' section.pk %}">{{ section }}</a>
          </td>
          <td>
            {% if section.is_enabled %}
              <span class="badge badge-success">Enabled</span>
            {% else %}
              <span class="badge badge-secondary">Disabled</span>
            {% endif %}
          </td>
          <td>
            {% include './member_profile_section_add_button.html' %}
            {% include './member_profile_section_edit_button.html' %}
            {% include './member_profile_section_delete_button.html' %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
