{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container">
  <!-- Heading -->
  {% include './members_page_header.html' %}
  {% if profile.text %}
    <p class="members-page-span">{{ profile.text }}</p>
  {% endif %}
  {% if members or contributors or new_images or new_sounds or new_videos or new_codes or new_links or top_images or top_sounds or top_videos or top_codes or top_links or sections or profile.links.all.count > 0 or profile.bitcoin_wallet or profile.litecoin_wallet %}
    <div class="row">
      {% if sections %}
        <div class="col-lg">
          {% include './members_page_sections.html' %}
          {% if profile.links.all.count > 0 or profile.bitcoin_wallet or profile.litecoin_wallet %}
            {% include './members_page_links.html' %}
          {% endif %}
        </div>
      {% endif %}
      {% if members or contributors or new_images or new_sounds or new_videos or new_codes or new_links or top_images or top_sounds or top_videos or top_codes or top_links %}
        <div class="col-lg">
          {% include './members_page_items.html' %}
          {% if not sections %}
            {% include './members_page_links.html' %}
          {% endif %}
        </div>
      {% elif profile.links.all.count > 0 or profile.bitcoin_wallet or profile.litecoin_wallet %}
        {% if not sections %}
          <div class="col-lg">
            {% include './members_page_links.html' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% else %}
    <div class="container">
      <span class="members-page-span members-alert"><i>Coming Soon...</i></span>
    </div>
    <br>
  {% endif %}
</div>
{% endblock %}
