{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid members-bg" style="{% if profile.bg_image %} background-image: url('{{ profile.bg_image.image_file.url }}');{% endif %}">
  <!-- Heading -->
  {% include './members_page_header.html' %}
  <br>
  {% if new_memberss.count < 1 and new_bars.count <  1 and top_memberss.count < 1 and top_bars.count < 1 %}
    <span class="members-page-span"><i>Coming Soon...</i></p>
  {% else %}
    {% if sections %}
      <div class="row">
        <div class="col-sm">
          {% for section in sections %}
            {% include './members_page_section.html' %}
          {% endfor %}
        </div>
        <div class="col-sm">
          {% include './members_page_items.html' %}
        </div>
      </div>
    {% else %}
      <!-- List of new and top items -->
      <div class="container-fluid">
        {% include './members_page_items.html' %}
      </div>
      <br>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
