{% if members or contributors %}
  {% if members %}
    <div class="members-section">
      <h4 class="members-title">New Members</h4>
      <ul class="list-group">
        {% for member in members %}
          {% include "./member_list_item.html" %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if contributors %}
    <div class="members-section">
      <h4 class="members-title">New Contributors</h4>
      <ul class="list-group">
        {% for member in contributors %}
          {% include "./member_list_item.html" %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}
