{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid">
  <!-- Heading -->
  {% include './members_page_header.html' %}
  {% if sections or members or contributors or profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
    <div class="row">
      {% if sections %}
        <div class="col-sm">
          {% if profile.text %}
            <p class="members-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './members_page_sections.html' %}
          {% if profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
            {% include './members_page_links.html' %}
          {% endif %}
        </div>
      {% endif %}
      {% if members or contributors %}
        <div class="col-sm">
          {% if not sections and profile.text %}
            <p class="members-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './members_page_items.html' %}
          {% if not sections %}
            {% include './members_page_links.html' %}
          {% endif %}
        </div>
      {% elif profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
        {% if not sections %}
          <div class="col-sm">
            {% include './members_page_links.html' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% elif profile.text %}
    <p class="members-page-span">{{ profile.text }}</p>
  {% else %}
    <div class="container">
      <span class="members-page-span members-alert"><i>Coming Soon...</i></span>
    </div>
    <br>
  {% endif %}
</div>
{% endblock %}
