<!-- Posts -->
{% if new_posts.count > 0 %}
  <div class="members-section">
    <h5 class="members-title">Posts</h5>
    <p class="posts-title">
      {% for post in new_posts %}
        {% include './members_page_post_item.html' %}
      {% endfor %}
      {% if top_posts.count > 0 %}
        {% for post in top_posts %}
          {% include './members_page_post_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Responses -->
{% if new_responses.count > 0 %}
  <div class="members-section">
    <h5 class="members-title">Responses</h5>
    <p class="members-title">
      {% for response in new_responses %}
        {% include './members_page_response_item.html' %}
      {% endfor %}
      {% if top_responses.count > 0 %}
        {% for response in top_responses %}
          {% include './members_page_response_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Documentation -->
{% if new_articles.count > 0 %}
  <div class="members-section">
    <h5 class="members-title">Articles</h5>
    <p class="documentation-title">
      {% for article in new_articles %}
        {% include './members_page_article_item.html' %}
      {% endfor %}
      {% if top_articles.count > 0 %}
        {% for article in top_articles %}
          {% include './members_page_article_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
{% if new_stories.count > 0 %}
  <div class="members-section">
    <h5 class="members-title">Stories</h5>
    <p class="documentation-title">
      {% for story in new_stories %}
        {% include './members_page_story_item.html' %}
      {% endfor %}
      {% if top_stories.count > 0 %}
        {% for story in top_stories %}
          {% include './members_page_story_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
{% if new_documents.count > 0 %}
  <div class="members-section">
    <h5 class="members-title">Information</h5>
    <p class="documentation-title">
      {% for document in new_documents %}
        {% include './members_page_document_item.html' %}
      {% endfor %}
      {% if top_documents.count > 0 %}
        {% for document in top_documents %}
          {% include './members_page_document_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Art -->
{% if new_visuals.count > 0 %}
  <div class="members-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="members-title">New Visuals</h5>
        {% for visual in new_visuals %}
          {% include './members_page_visual_item.html' %}
        {% endfor %}
        <div class="clear"></div>
      </div>
      {% if top_visuals.count > 0 %}
        <div class="col-sm">
          <h5 class="members-title">Top Visuals</h5>
          {% for visual in top_visuals %}
            {% include './members_page_visual_item.html' %}
          {% endfor %}
          <div class="clear"></div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if new_galleries.count > 0 %}
  <div class="members-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="members-title">New Galleries</h5>
          {% for gallery in new_galleries %}
            {% include './members_page_gallery_item.html' %}
          {% endfor %}
        </p>
      </div>
      {% if top_galleries.count > 0 %}
        <div class="col-sm">
          <h5 class="members-title">Top Galleries</h5>
          {% for gallery in top_galleries %}
            {% include './members_page_gallery_item.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
<!-- Music -->
{% if new_tracks.count > 0 %}
  <div class="members-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="members-title">New Tracks</h5>
        {% for track in new_tracks %}
          {% include './members_page_track_item.html' %}
        {% endfor %}
      </div>
      {% if top_tracks.count > 0 %}
        <div class="col-sm">
          <h5 class="members-title">Top Tracks</h5>
          {% for track in top_tracks %}
            {% include './members_page_track_item.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if new_albums.count > 0 %}
  <div class="members-section">
    <div class="row">
      <div class="col-sm">
        <h5 class="members-title">New Albums</h5>
        {% for album in new_albums %}
          {% include './members_page_album_item.html' %}
        {% endfor %}
      </div>
      {% if top_albums.count > 0 %}
        <div class="col-sm">
          <h5 class="members-title">Top Albums</h5>
          {% for album in top_albums %}
            {% include './members_page_album_item.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
