{% extends 'header.html' %}
{% block logo_block %}
  <a href="{% url 'members:members_page' %}">
    <img class="members-logo" src="{{ profile.logo.thumbnail_file.url }}" alt="{{ profile.logo.title }}">
  </a>
{% endblock %}
{% block title_block %}
  {% if tag %}
    <h3 class="members-brand-title objects-page-span objects-alert">
      {{ app_list_context }} tagged with <span class="badge bg-secondary">{{ tag }}
    </h3><br>
  {% elif member %}
    <h3 class="members-brand-title objects-page-span objects-alert">
      {{ app_list_context }} posted by <span class="index-page-heading">{{ member }}</span>
    </h3><br>
  {% else %}
    <h3 class="members-brand-title objects-page-span objects-alert">
      {% if profile.title and app_list_context and profile.show_title %}
        <span class="index-heading-span">{{ profile.title }}</span>
        - <span class="index-heading-span">{{ app_list_context }}</span>
      {% else %}
        {{ app_list_context }}
      {% endif %}
    </h3><br>
  {% endif %}
{% endblock %}
{% block nav_block %}
  {% include './members_page_navbar.html' %}
{% endblock %}
{% block buttons_block %}
  {% if show_invite_add_button %}
    {% with invite_add_button as button %}
      {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
        {% include 'buttons/add_button.html' %}
      {% endwith %}
    {% endwith %}
  {% endif %}
{% endblock %}
