<!-- Newest Galleries -->
{% if galleries.count > 0 %}
    {% for gallery in galleries %}
      {% if gallery.is_public and not gallery.members_only or gallery.is_public and request.user.is_authenticated or gallery.owner.pk == request.user.pk %}
        <a class="text-light" href="{% url 'art:gallery_detail' gallery.slug %}">
          <div class="index-gallery" style="background-image: url('{{ gallery.visuals.all.first.image.image_file.url }}')">
            <span class="index-gallery-title">
                {{ gallery.title }}
              {% if not gallery.is_public %}
                <span class="badge badge-secondary">Unpublished</span>
              {% endif %}
            </span>
            <br>
            <span class="index-gallery-meta">
               Visual Gallery by {{ gallery.artist }}
            </span>
          </div>
        </a>
      {% endif %}
    {% endfor %}
    <div class="clear"></div>
    <p class="index-link">
      <a href="{% url 'art:member_galleries' profile.member.username %}">all Galleries by {{ profile.member }}...</a>
    </p>    
    <br>
{% endif %}
