<div class="profile-col">
  {% if links %}
      <h4 class="profile-title">Links</h4>
      <ul class="list-group">
        {% for link in links %}
          <li class="list-group-item link-list-li">
            <a href="{% url 'objects:link_detail' pk=link.pk %}">
              {{ link.title }}
            </a><br>
            {% if not link.is_public %}
              <div class="container">
                <span class="badge badge-secondary">Unpublished</span>
              </div><br>
            {% endif %}
            Added on {{ link.creation_date|date:"M d, Y" }}
          </li>
        {% endfor %}
      </ul>
      <p>
        <a href="{% url 'objects:member_links' profile.member.username %}">more ...</a>
      </p>
  {% endif %}
</div>
