<!-- Newest public Posts -->
{% if stories.count > 0 %}
  <div class="col-sm">
    <h4 class="member-title">Stories</h4>
    <br>
    {% for story in stories %}
      {% if story.is_public and not story.members_only or story.is_public and request.user.is_authenticated or story.owner.pk == request.user.pk %}
        <div class="row">
          <div class="col">
            <h6 class="documentation-title">
              <a href="{% url 'documentation:story_detail' story.slug %}">
                {{ story.title }}
              </a>
              {% if not story.is_public %}
                <span class="badge badge-secondary">Unpublished</span>
              {% endif %}
            </h6>
            <p class="index-meta">
               Story by {{ story.author }}
            </p>
          </div>
        </div>
        <br>
      {% endif %}
    {% endfor %}
    <p>
      <a href="{% url 'documentation:member_stories' profile.member.username %}">all Stories contributed by {{ profile.member }}...</a>
    </p>
  </div>
{% endif %}
