{% if sounds %}
  <div class="col-sm">
      <h4 class="profile-title">Sound Files</h4>
      <ul class="list-group">
        {% for sound in sounds %}
          <li class="list-group-item sound-list-li">
            <a href="{% url 'objects:sound_detail' pk=sound.pk %}">
              {{ sound.title }}
            </a><br>
            {% if not sound.is_public %}
              <div class="container">
                <span class="badge badge-secondary">Unpublished</span>
              </div><br>
            {% endif %}
            Uploaded on {{ sound.creation_date|date:"M d, Y" }}
          </li>
        {% endfor %}
      </ul>
      <p>
        <a href="{% url 'objects:member_sounds' profile.member.username %}">more ...</a>
      </p>
  </div>
{% endif %}
