<!-- Newest public Posts -->
{% if posts.count > 0 %}
  <div class="col-sm">
    <h4 class="member-title">Posts</h4>
    <br>
    {% for post in posts %}
      {% if post.is_public and not post.members_only or post.is_public and request.user.is_authenticated or post.owner.pk == request.user.pk %}
        <div class="row">
          <div class="col">
            <h6 class="post-title">
              <a href="{% url 'posts:post_detail' post.slug %}">
                {{ post.title }}
              </a>
              {% if not post.is_public %}
                <span class="badge badge-secondary">Unpublished</span>
              {% endif %}
            </h6>
            <p class="index-meta">
               {% if post.publication_date %}Posted on {{ post.publication_date|date:"M d, Y" }}{% endif %}
               {% if post.location %} from {{ post.location }}{% endif %}
            </p>
          </div>
        </div>
        <br>
      {% endif %}
    {% endfor %}
    <p>
      <a href="{% url 'posts:member_posts' profile.member.username %}">all Posts by {{ profile.member }}...</a>
    </p>
  </div>
{% endif %}
