<!-- Newest public Posts -->
{% if support_documents.count > 0 %}
  <div class=" profile-col">
    <h4 class="member-title">Information</h4>
    <br>
    {% for document in support_documents %}
      {% if document.is_public and not document.members_only or document.is_public and request.user.is_authenticated or document.owner.pk == request.user.pk %}
        <div class="row">
          <div class="col">
            <h6 class="index-title">
              <a href="{% url 'documentation:support_document_detail' document.slug %}">
                {{ document.title }}
              </a>
              {% if not document.is_public %}
                <span class="badge badge-secondary">Unpublished</span>
              {% endif %}
            </h6>
            <p class="index-meta">
            {% if document.publication_date %}Last Updated {{ document.last_modified|date:"M d, Y" }}{% endif %}
            </p>
          </div>
        </div>
        <br>
      {% endif %}
    {% endfor %}
    <p>
      <a href="{% url 'documentation:member_support_documents' profile.member.username %}">all Documents by {{ profile.member }}...</a>
    </p>
  </div>
{% endif %}
