<!-- Newest Galleries -->
{% if galleries.count > 0 %}
  <div class="col-sm">
    <h4 class="studio-title">Galleries</h4>
    {% for gallery in galleries %}
      <div class="row">
        <div class="col-">
          {% if gallery.visuals %}
            <div class="index-gallery-list-image" style="background-image:url('{{ gallery.visuals.first.image.thumbnail_file.url }}')"></div>
          {% elif track.owner.profile.image %}
            <div class="index-gallery-list-image" style="background-image:url('{{ gallery.owner.profile.image.thumbnail_file.url }}')"></div>
          {% else %}
            <div class="index-gallery-list-image" style="background-image:url('/static/icon.webp')"></div>
          {% endif %}
        </div>
        <div class="col">
          <h6 class="index-title">
            <a href="{% url 'art:gallery_detail' gallery.slug %}">
              {{ gallery.title }}
            </a>
          </h6>
          <p class="index-meta">
            New Gallery by {{ gallery.artist }}
          </p>
        </div>
      </div>
    {% endfor %}
    <p class="index-link">
      <a href="{% url 'art:member_galleries' profile.member.username %}">all Galleries by {{ profile.member }}...</a>
    </p>    
    <br>
  </div>
{% endif %}
