<!-- Newest public Posts -->
{% if articles.count > 0 %}
  <div class=" col-sm">
    <h4 class="member-title">Articles</h4>
    <br>
    {% for article in articles %}
      {% if article.is_public and not article.members_only or article.is_public and request.user.is_authenticated or article.owner.pk == request.user.pk %}
        <div class="row">
          <div class="col">
            <h6 class="index-title">
              <a href="{% url 'documentation:article_detail' article.slug %}">
                {{ article.title }}
              </a>
              {% if not article.is_public %}
                <span class="badge badge-secondary">Unpublished</span>
              {% endif %}
            </h6>
            <p class="index-meta">
            {% if article.publication_date %}Published on {{ article.publication_date|date:"M d, Y" }}{% endif %}
            </p>
            <br>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <p>
      <a href="{% url 'documentation:member_articles' profile.member.username %}">all Articles by {{ profile.member }}...</a>
    </p>
  </div>
{% endif %}
