{% extends 'header.html' %}
{% if profile.image %}
  {% block logo_block %}
    <img class="members-logo" src="{{ profile.image.thumbnail_file.url }}" alt="{{ profile.image.title }}">
  {% endblock %}
{% endif %}
{% if meta_title %}
  {% block title_block %}
    <h3 class="members-brand-title members-page-span members-alert">{{ meta_title }}</h3><br>
  {% endblock %}
{% endif %}
{% if meta_desc %}
  {% block desc_block %}
    <p class="members-page-span members-alert"><i>{{ meta_desc }}</i></p><br>
  {% endblock %}
{% endif %}
{% block buttons_block %}
  {% include 'objects/object_create_buttons.html' %}
  <br><br>
  {% if not profile.member.email %}
    <p class="alert alert-info"><i>We do not have an email contact for you. We do not require that you provide an email contact. However, please be aware that unless you provide a recovery email, you will be unable to reset your password. You may provide an email address by pressing the <span class="index-heading-span">"Update Personally Identifiable Information"</span> button below.</i></p>
  {% endif %}
            <p>
              <a href="{% url 'email_change' profile.pk %}">
                <button class="btn btn-sm btn-warning">Update Personally Identifiable Information</button>
              </a>
              <a href="{% url 'password_change' %}">
                <button class="btn btn-sm btn-danger">Update Password</button>
              </a>
            </p>
            <p>
              {% include './member_crypto_buttons.html' %}
            </p>
{% endblock %}
