{% extends "base.html" %}
{% block body_block %}
<div class="container-fluid members-bg">
  <div class="row">
    {% if profile.image %}
      <div class="col-sm-">
        <div class="container">
          <img src="{{ profile.image.thumbnail_file.url }}">
        </div>
      </div>
    {% endif %}
    <div class="col-sm">
      <h1 class="profile-title">{{ profile.member }}</h1>
      <p>
        {% with profile.member as member %}
          {% include './member_badges.html' %}
        {% endwith %}
      </p>
      <p>Member since {{ profile.member.date_joined|date:"M d, Y" }}</p>
    </div>
    <div class="col-">
      <div class="container">
        {% if request.user.pk == member.pk %}
          {% if profile.member.is_superuser %}
            <a href="{% url 'invite' %}">
              <button class="btn btn-sm btn-primary float-right">Invite</button>
            </a>
          {% endif %}
          <a href="{% url 'members:member_profile_update' request.user.username %}">
            <button class="btn btn-sm btn-warning float-right">Edit Profile</button>
          </a>
          <div class="clear"></div>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  {% if profile.text %}
    <p>{{ profile.text }}</p>
  {% endif %}
  <br>
  {% include './profile_posts.html' %}
  {% include './profile_articles.html' %}
  {% include './profile_supportdocuments.html' %}
  {% include './profile_stories.html' %}
  <div class="clear"></div>
  {% include './profile_visuals.html' %}
  {% include './profile_galleries.html' %}
  <div class="clear"></div>
  {% include './profile_tracks.html' %}
  {% include './profile_albums.html' %}
  <div class="clear"></div>
  {% if request.user.is_authenticated %}
    {% include './profile_images.html' %}
    {% include './profile_videos.html' %}
    {% include './profile_sounds.html' %}
    {% include './profile_code.html' %}
    {% include './profile_links.html' %}
  <div class="clear"></div>
  {% endif %}
  <br>
</div>
{% endblock %}
