{% extends 'base.html' %}
{% block body_block %}
<div class ="container create-bg">
  <div class="container">
    <h2 class="profile-title">Update Profile</h2>
    <p>Change your password <a href="{% url 'password_change' %}">here</a></p>
    {% if not object.member.email %}
      <p class="alert alert-info"><i>We do not have an email contact for you. We do not require that you provide an email contact. However, please be aware that unless you provide a recovery email, you will be unable to reset your password. You may provide an email address by pressing the button below.</i></p>
    {% endif %}
    <p><a href="{% url 'email_change' object.member.pk %}"><button class="btn btn-sm btn-warning">Update Personally Identifiable Information</button></a></p>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <h5 class="form-label">New: </h5>
      </div>
      <div class="col-sm-10">
        <a href="{% url 'objects:image_create' %}?next={{ request.path }}">
          <button class="btn btn-sm btn-primary">Image</button>
        </a>
      </div>
    </div>
    <br>
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Custom multiple model choice form field for Profile Image -->
      <div class="row">
        <div class="col-2">
          <h5 class="form-label">{{ form.image.label_tag }}</h5>
        </div>
        <div class="col-sm-10 images-form-selector">
          {{ form.image.errors }}
          {% if form.image.field.choices.queryset.all|length == 0 %}
            <p><i>You haven't published any images yet.</i></p>
          {% else %}
            {% for value in form.image.field.choices %}
              {% if value|first != '' %}
                <div class="form-image-card float-left" style="background-image:url('/media/{{ value.2.thumbnail_file }}')">
                  <p>&nbsp;<input type="radio" value="{{ value|first }}" name="image" {% if object.image.pk == value|first %}checked{% endif %}></p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <!-- Standard field iterator -->
      {% for field in form %}
        {% if field != form.image %}
          {{ field.errors }}
          <div class="row">
            <div class="col-sm-2">
              <h5 class="form-label">{{ field.label_tag }}</h5>
            </div>
            <div class="col-sm-10">
              <p>{{ field.help_text }}</p>
              {{ field }}
            </div>
          </div>
          <br>
        {% endif %}
      {% endfor %}
      <br>
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
  <br>
</div>
{% endblock %}
