<div class="members-header" {% if profile.banner %}style="background-image: url('{{ profile.banner.image_file.url }}');"{% endif %}>
  <div class="row">
    {% if profile.image %}
      <div class="col-sm-auto">
        <img class="members-profile-logo" src="{{ profile.image.image_file.url }}" alt="{{ profile.image.title }}">
      </div>
    {% endif %}
    <div class="col-sm">
      <h3 class="brand-title members-page-span members-alert">{{ profile.member }}</h3><br>
      <p class="members-page-span members-alert">
        Member since <span class="index-heading-span">{{ member.date_joined|date:"M d, Y" }}</span><br>
        {% if member.check_is_new %}
          <span class="badge bg-success">New</span>
        {% endif %}
        {% if member.is_superuser %}
          <span class="badge bg-dark">Admin</span>
        {% elif member.is_staff %}
          <span class="badge bg-dark">Staff</span>
        {% endif %}
        {% if member.check_is_writer %}
          <span class="badge bg-info">Writer</span>
        {% endif %}
        {% if member.check_is_artist %}
          <span class="badge bg-info">Artist</span>
        {% endif %}
        {% if member.check_is_musician %}
          <span class="badge bg-info">Musician</span>
        {% endif %}
        {% if not member.is_staff and member.check_is_contributor %}
          <span class="badge bg-primary">Contributor</span>
        {% endif %}
        {% if member.check_is_founder %}
          <span class="badge bg-light text-dark">Founder</span>
        {% endif %}
      </p>
      {% if meta_desc and profile.show_desc %}
        <br><p class="members-page-span members-alert"><i>{{ meta_desc }}</i></p>
      {% endif %}
    </div>
    {% if request.user.is_authenticated %}
      <div class="col-auto">
        <div class="container">
          <p>
            {% if show_invite_add_button %}
              {% with invite_add_button as button %}
                {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
                  {% include 'buttons/add_button.html' %}
                {% endwith %}
              {% endwith %}
            {% endif %}
            {% if show_profile_edit_button %} 
              {% with profile_edit_button as button %}
                {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
                  {% include 'buttons/edit_button.html' %}
                {% endwith %}
              {% endwith %}
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
