<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="video-title">Your Video Files
        <a href="{% url 'objects:video_create' %}">
          <button class="btn btn-sm btn-primary create-button"><strong>+</strong></button>
        </a>
      </h5>
    </div>
  </div>
  {% if videos.all.count > 0 %}
    <ul class="list-group">
      {% for video in videos %}
        <li class="list-group-item video-list-li">
          <a class="video-title" href="{% url 'objects:video_detail' pk=video.pk %}">
            {{ video.title }}
          </a>
          {% if not video.is_public %}
            <span class="badge badge-secondary">Unpublished</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <p>
      <a href="{% url 'objects:member_videos' request.user.username %}">more ...</a>
    </p>
  {% else %}
    <p>You have not uploaded any Videos yet.</p>
  {% endif %}
</div>
