<h4 class="studio-title">Your Links</h4>
{% if links %}
  <ul class="list-group">
    {% for link in links %}
      <li class="list-group-item link-list-li">
        <a href="{% url 'objects:link_detail' link.pk %}">
          {% if link.title %}
            <p>{{ link.title }}</p>
          {% else %}
            <p>Untitled Link</p>
          {% endif %}
        </a>
        {% if link.favicon_href %}
            <div class="link-list-card float-left" style="background-image:url('{{ link.favicon_href }}')"></div>
        {% endif %}
        <a href="{{ link.url }}" class="links-list-link">
          <p class="link-list-link">{{ link.url }}</p>
        </a>
        {% if not link.is_public %}
          <span class="badge badge-secondary">Unpublished</span>
        {% endif %}
        {% if user_only and link.owner.pk == request.user.pk %}
          <a href="{% url 'links:link_update' link.pk %}?next={{ request.path }}">
            <button class="btn-sm btn-warning">Edit</button>
          </a>
          {% if not link.is_public %}
            <a href="{% url 'links:link_delete' link.pk %}?next={{ request.path }}">
              <button class="btn-sm btn-danger">Delete</button>
            </a>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>
    <a href="{% url 'objects:member_links' member=links.0.owner.username %}">more ...</a>
  </p>
{% else %}
  <p>You have not added any links yet</p>
  <a href="{% url 'objects:link_create' %}">
    <button class="btn btn-success">Add Link</button>
  </a>
{% endif %}
