<div class="row">
  <div class="col col-sm">
    <h5 class="objects-title">Your Image Files</h5>
  </div>
  {% if show_objects_buttons %}
    <div class="col-auto">
      <div class="float-end">
        {% with image_add_button as button %}
          {% with button|lookup:"url" as button_url and button|lookup:"parameters" as parameters and button|lookup:"text" as button_text %}
            {% include 'buttons/small_add_button.html' %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
</div>
{% if images %}
  {% with images as items and "&#128247;" as icon and "objects-list-item" as li_css %}
    {% include './studio_list.html' %}
  {% endwith %}
  <p>
    <a href="{% url 'objects:image_studio_list' %}" target="_blank" rel="noopener noreferrer">more ...</a>
  </p>
{% else %}
  <p>You have not uploaded any image files yet.</p>
{% endif %}
