<div class="row">
  <div class="col col-sm">
    <h5 class="documentation-title">Your Articles</h5>
  </div>
  {% if show_documentation_buttons %}
    <div class="col-auto">
      <div class="float-end">
        {% with article_add_button as button %}
          {% with button|lookup:"url" as button_url and button|lookup:"parameters" as parameters and button|lookup:"text" as button_text %}
            {% include 'buttons/small_add_button.html' %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
</div>
{% if articles %}
  {% with articles as items and "&#128240;" as icon and "objects-list-item" as li_css %}
    {% include './studio_list.html' %}
  {% endwith %}
  <p>
    <a href="{% url 'documentation:article_studio_list' %}" target="_blank" rel="noopener noreferrer">more ...</a>
  </p>
{% else %}
  <p>You have not created any articles yet.</p>
{% endif %}

