<h4 class="studio-title">Your Images</h4>
{% if images %}
  <div class="studio-image-matrix">
    {% for i in images %}
      <a href="{% url 'objects:image_detail' i.pk %}">
        <div class="studio-image-card float-left" style="background-image:url('/media/{{ i.thumbnail_file }}')">
          {% if not i.is_public %}
            <span class="badge badge-secondary">Unpublished</span>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="clear"></div>
  <p>
    <a href="{% url 'objects:member_images' member=images.0.owner.username %}">more ...</a>
  </p>
{% else %}
  <p>You have not contributed any images yet</p>
  <a href="{% url 'objects:image_create' %}">
    <button class="btn btn-success">Upload Image</button>
  </a>
{% endif %}
