<div class="members-section">
  <div class="row">
    <div class="col">
      <h4 class="studio-title">Your Tracks
      </h4>
    </div>
    <div class="col-">
      <div class="container">
        {% if show_music_buttons %}
          {% with track_add_button as button %}
            {% with button|lookup:"url" as button_url and button|lookup:"parameters" as parameters and button|lookup:"text" as button_text %}
              {% include 'buttons/small_add_button.html' %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if tracks.all.count > 0 %}
    <table class="studio-table">
      <tr>
        <th>Title</th>
        <th>Modified</th>
        <th>Created</th>
        <th>Published</th>
      </th>
      {% for track in tracks %}
        <tr>
          <td><a href="{% url 'music:track_detail' track.slug %}">{{ track.title|truncatechars:20 }}</a></td>
          <td>{{ track.last_modified|date:"M d, Y" }}</td>
          <td>{{ track.creation_date|date:"M d, Y" }}</td>
          <td>
            {% if track.is_public %}
              {{ track.publication_date|date:"M d, Y" }}
            {% else %}
              {% include 'objects/unpublished.html' %}
            {% endif %}
            {% if track.members_only %}
              {% include 'objects/members_only.html' %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <p>
      <a href="{% url 'music:member_tracks' request.user.username %}">more ...</a>
    </p>
  {% else %}
    <p>You have not contributed any Tracks yet.</p>
  {% endif %}
</div>

