<div class="members-section">
  <div class="row">
    <div class="col">
      <h4 class="studio-title">Your Articles
      </h4>
    </div>
    <div class="col-">
      <div class="container">
        {% if show_documentation_buttons %}
          {% with article_add_button as button %}
            {% with button|lookup:"url" as button_url and button|lookup:"parameters" as parameters and button|lookup:"text" as button_text %}
              {% include 'buttons/small_add_button.html' %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if articles.all.count > 0 %}
    <table class="studio-table">
      <tr>
        <th>Title</th>
        <th>Modified</th>
        <th>Created</th>
        <th>Published</th>
      </th>
      {% for article in articles %}
        <tr>
          <td><a href="{% url 'documentation:article_detail' article.slug %}">{{ article.title|truncatechars:20 }}</a></td>
          <td>{{ article.last_modified|date:"M d, Y" }}</td>
          <td>{{ article.creation_date|date:"M d, Y" }}</td>
          <td>
            {% if article.is_public %}
              {{ article.publication_date|date:"M d, Y" }}
            {% else %}
              {% include 'objects/unpublished.html' %}
            {% endif %}
            {% if article.members_only %}
              {% include 'objects/members_only.html' %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <p>
      <a href="{% url 'documentation:member_articles' request.user.username %}">more ...</a>
    </p>
  {% else %}
    <p>You have not contributed any Articles yet.</p>
  {% endif %}
</div>
