<div class="members-section">
  <div class="row">
    <div class="col">
      <h5 class="code-title">Your Code Samples
      </h5>
    </div>
    <div class="col-">
      <div class="container">
        {% if show_objects_buttons %}
          {% with code_add_button as button %}
            {% with button|lookup:"url" as button_url and button|lookup:"parameters" as parameters and button|lookup:"text" as button_text %}
              {% include 'buttons/small_add_button.html' %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if codes.all.count > 0 %}
    <table class="studio-table">
      <tr>
        <th>Title</th>
        <th>Contributed</th>
      </th>
      {% for code in codes %}
        <tr>
          <td><a href="{% url 'objects:code_detail' code.pk %}">{{ code.title|truncatechars:20 }}</a></td>
          <td>{{ code.creation_date|date:"M d, Y" }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <p>
      <a href="{% url 'objects:member_code' request.user.username %}">more ...</a>
    </p>
  {% else %}
    <p>You have not contributed any code yet.</p>
  {% endif %}
</div>

