{% extends 'base.html' %}
{% block body_block %}
<div class="container-fluid studio-bg">
  <h3 class="studio-title">{{ member }}'s Digital Studio</h3>
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#posts" aria-expanded="false" aria-controls="postss">Posts</button>
  {% if member.is_staff %}
    <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#support_documents" aria-expanded="false" aria-controls="images">Support</button>
  {% endif %}
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#documents" aria-expanded="false" aria-controls="images">Documents</button>
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#images" aria-expanded="false" aria-controls="images">Images</button>
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#videos" aria-expanded="false" aria-controls="videos">Videos</button>
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#sounds" aria-expanded="false" aria-controls="images">Sounds</button>
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#code" aria-expanded="false" aria-controls="code">Code</button>
  <button class="btn btn-sm btn-light studio-button" type="button" data-toggle="collapse" data-target="#links" aria-expanded="false" aria-controls="links">Links</button>
  <br>
  <br>
  <div class="row">
    <!-- Member Posts -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="posts">
        <div class="container">
          {% include './studio_posts.html' %}
        </div>
      </div>
    </div>
    <!-- Staff Documentation -->
    {% if member.is_staff %}
      <div class="col-sm- studio-col">
        <div class="collapse" id="support_documents">
          <div class="container">
            {% include './studio_supportdocuments.html' %}
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Staff Documentation -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="documents">
        <div class="container">
          {% include './studio_documents.html' %}
        </div>
      </div>
    </div>
    <!-- Member Images -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="images">
        <div class="container">
          {% include './studio_images.html' %}
        </div>
      </div>
    </div>
    <!-- Member Videos -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="videos">
        <div class="container">
          {% include './studio_videos.html' %}
        </div>
      </div>
    </div>
    <!-- Member Sounds -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="sounds">
        <div class="container">
          {% include './studio_sounds.html' %}
        </div>
      </div>
    </div>
    <!-- Member Code -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="code">
        <div class="container">
          {% include './studio_code.html' %}
        </div>
      </div>
    </div>
    <!-- Member Links -->
    <div class="col-sm- studio-col">
      <div class="collapse" id="links">
        <div class="container">
          {% include './studio_links.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
