<div class="members-section">
  <div class="row">
    <div class="col">
      <h5 class="article-title">Your Stories
      </h5>
    </div>
    <div class="col-">
      <div class="container">
        {% if show_objects_buttons %}
          {% with article_add_button as button %}
            {% with button|lookup:"url" as button_url and button|lookup:"parameters" as parameters and button|lookup:"text" as button_text %}
              {% include 'buttons/small_add_button.html' %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if stories.all.count > 0 %}
    {% with stories as objects %}
      {% include './studio_list.html' %}
    {% endwith %}
    <br>
    <p>
      <a href="{% url 'documentation:story_studio_list' %}">more ...</a>
    </p>
  {% else %}
    <p>You have not create any stories yet.</p>
  {% endif %}
</div>
