<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="studio-title">Your Tracks
        <a href="{% url 'music:track_create' %}">
          <button class="btn btn-sm btn-primary create-button">+</button>
        </a>
      </h4>
    </div>
  </div>
  {% if tracks.all.count > 0 %}
    <ul class="list-group">
      {% for track in tracks %}
        <li class="list-group-item music-list-li">
          <div class="row">
            <div class="col-">
              {% if track.image %}
                <div class="music-track-list-image" style="background-image:url('{{ track.image.thumbnail_file.url }}')"></div>
              {% elif track.owner.profile.image %}
                <div class="music-track-list-image" style="background-image:url('{{ track.owner.profile.image.thumbnail_file.url }}')"></div>
              {% else %}
                <div class="music-track-list-image" style="background-image:url('/static/icon.webp')"></div>
              {% endif %}
            </div>
            <div class="col-sm">
              <h5 class="music-title">
                <a href="{% url 'music:track_detail' track.slug %}">
                  {{ track.title }}
                </a>
              </h5>
              <p>
                Performed by <span class="index-page-span">{{ track.artist }}</span><br>
              </p>
            </div>
          </div>
          {% if not track.is_public %}
            <span class="badge badge-dark">Unpublished</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <p>
      <a href="{% url 'music:member_tracks' request.user.username %}">more ...</a>
    </p>
  {% else %}
    <p>You have not contributed any Tracks yet.</p>
  {% endif %}
</div>
