<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="studio-title">Your Links
        <a href="{% url 'objects:link_create' %}">
          <button class="btn btn-sm btn-primary create-button"><strong>+</strong></button>
        </a>
      </h4>
    </div>
  </div>
  {% if links.all.count > 0 %}
    <ul class="list-group">
      {% for link in links %}
        <li class="list-group-item link-list-li">
          <p>
            <a href="{% url 'objects:link_detail' link.pk %}">
              {% if link.title %}
                {{ link.title }}
              {% else %}
                {{ link.url|truncatechars:64 }}
              {% endif %}
            </a>
            {% if not link.is_public %}
              <span class="badge badge-secondary">Unpublished</span>
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
    <p>
      <a href="{% url 'objects:member_links' request.user.username %}">more ...</a>
    </p>
  {% else %}
    <p>You have not added any links yet.</p>
  {% endif %}
</div>
