<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4 class="studio-title">Your Tracks</h4>
    </div>
    <div class="col-">
      <a href="{% url 'music:track_create' %}">
        <button class="btn btn-sm btn-primary create-button">+</button>
      </a>
    </div>
  </div>
</div>
{% if tracks.all.count > 0 %}
  <ul class="list-group">
    {% for track in tracks %}
      <li class="list-group-item music-list-li">
        <p>
          <a href="{% url 'music:track_detail' track.slug %}">
            {{ track.title }}
          </a>
        </p>
        {% if not track.is_public %}
          <span class="badge badge-secondary">Unpublished</span>
        {% endif %}
        {% if track.members_only %}
          <span class="badge badge-warning">Members Only</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>
    <a href="{% url 'music:member_tracks' request.user.username %}">more ...</a>
  </p>
{% else %}
  <p>You have not contributed any Tracks yet.</p>
{% endif %}
