<div class="row">
  <div class="col">
    <h4 class="studio-title">Your Links</h4>
  </div>
  <div class="col-">
    <a href="{% url 'objects:link_create' %}">
      <button class="btn btn-sm btn-primary">New Link</button>
    </a>
  </div>
</div>
{% if links.all.count > 0 %}
  <ul class="list-group">
    {% for link in links %}
      <li class="list-group-item link-list-li">
        <a href="{% url 'objects:link_detail' link.pk %}">
          {% if link.title %}
            <p>{{ link.title }}</p>
          {% else %}
            <p>Untitled Link</p>
          {% endif %}
        </a>
        {% if link.favicon_href %}
            <div class="link-list-card float-left" style="background-image:url('{{ link.favicon_href }}')"></div>
        {% endif %}
        <p class="link-list-link">{{ link.url|truncatechars:128 }}</p>
        {% if not link.is_public %}
          <span class="badge badge-secondary">Unpublished</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>
    <a href="{% url 'objects:member_links' request.user.username %}">more ...</a>
  </p>
{% else %}
  <p>You have not added any links yet.</p>
{% endif %}
