{% extends 'base.html' %}
{% block body_block %}
<div class ="container create-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        {% if object.title %}
          <h4 class="images-title">Edit "{{ object.title }}"</h4>
        {% else %}
          <h2 class="images-title">Upload Code</h2>
        {% endif %}
        <br>
      </div>
      <div class="col-">
        {% include './new_tag.html' %}
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <form  method="post">
      {% csrf_token %}
      {% for field in form %}
        {% include 'forms/form_field.html' %}
      {% endfor %}
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
    <br>
  </div>
</div>
{% endblock %}
