{% extends 'base.html' %}
{% block body_block %}
<div class ="container create-bg">
  <div class="container">
    <h2 class="images-title">Upload Code</h2>
  </div>
  <br>
  <div class="container">
    <form  method="post">
      {% csrf_token %}
      {% include 'form_fields.html' %}
      <input type="submit" value="Upload" class="btn btn-success">
    </form>
    <br>
    {% if code.title and not code.is_public %}
      <a href="{% url 'objects:publish_code' object.pk %}">
        <button class="btn btn-success">Publish</button>
      </a>
    {% endif %}
  </div>
  <br>
</div>
{% endblock %}
