<div class="row">
  <div class="col">
    <h3 class="code-title">{{ code.title }}</h3>
  </div>
  <div class="col-">
    {% if code.owner.pk == request.user.pk %}
      <a href="{% url 'objects:code_delete' code.pk %}">
        <button type="button" class="btn btn-sm  btn-danger float-right">Delete</button>
      </a>
      <a href="{% url 'objects:code_update' code.pk %}">
        <button type="button" class="btn btn-sm btn-warning float-right">Edit</button>
      </a>
      {% if not code.is_public %}
        <a href="{% url 'objects:publish_code' code.pk %}">
          <button type="button" class="btn btn-sm btn-success float-right">Publish</button>
        </a>
      {% endif %}
    {% endif %}
    {% if code.is_public and can_add_marshmallow %}
      <a href="{% url 'objects:code_marshmallow' code.pk %}">
        <button type="button" class="btn btn-sm btn-light marshmallow-button float-right">M</button>
      </a>
    {% endif %}
  </div>
</div>
<br>
