{% extends "base.html" %}
{% block body_block %}
<div class="container code-bg">
  {% if code.is_public or code.owner.pk == request.user.pk %}
    {% include './code_detail_button_bar.html' %}
    {% if code.file_path %}
      <span class="code-block"><strong>{{ code.file_path }}</strong></span><br>
    {% endif %}
    <pre class="code-block">{{ code.code }}</pre>
    {% if code.text %}
      <p>{{ code.text }}</p>
    {% endif %}
    {% if code.source %}
      <p>Source: {{ code.source }}</p>
    {% endif %}
    {% if code.source_url %}
      <p>Source URL: <a href="{{ code.source_url }}">{{ code.source_url }}</a></p>
    {% endif %}
    <p>{% include './object_meta_data.html' %}</p>
    {% if code.tags.all.count > 0 %}
      {% include 'objects/object_tags.html' %}<br>
    {% endif %}
  {% else %}
    <p>This Code sample has not been published yet.</p>
  {% endif %}
</div>  
{% endblock %}
  
