{% for code in codes %}
  {% if code.is_public or code.owner.pk == request.user.pk %}
    <li class="list-group-item code-list-li">
      <h5 class="code-title">
        <a href="{% url 'objects:code_detail' code.pk %}">
          {{ code.title }}
        </a>
      </h5>
      <p>
        {{ code.language }} {{ code.language_version }}
        {% if not code.is_public %}
          <span class="badge badge-secondary">Unpublished</span>
        {% endif %}
      </p>
    </li>
  {% endif %}
{% endfor %}
