<div class="row">
  <div class="col">
    {% if user_only %}
      <h3 class="images-title">{{ member }}'s Code</h3>
      {% elif tag %}
        <h3 class="images-title">Code</h3>
        <p><span class="badge badge-secondary">{{ tag }}</span></p>
      {% else %}
        <h3 class="images-title">Code</h3>
      {% endif %}
    </h3>
  </div>
  {% if request.user.is_authenticated %}
    <div class="col-">
      <div class="container">
        <a href="{% url 'objects:code_create' %}">
          <button type="button" class="btn btn-sm btn-primary">Upload Code</button>
        </a>
      </div>
    </div>
  {% endif %}
</div>
