<br>
<div class="alert alert-warning objects-alert">
  <div class="row">
    <div class="col-auto">
      <h1>
        &#9888;
      </h1>
    </div>
    <div class="col">
Submitting large files may take a long time to upload and transcode. Press the submit button once. You must keep this tab open until your file finishes uploading to our server. If the file is uploaded successfully, the transcoding will be done in the background. Your file will appear in your studio once it is ready.
    </div>
  </div>
</div><br>
