{% extends 'base.html' %}
{% block body_block %}
  <div class ="container edit-bg">
    <div class="container">
      <h2 class="images-title">Modify {{ image }}</h2>
      <br>
      <img class="form-preview-image" src="{{ image.image_file.url }}" alt="{{ image.title }}"><br>
      <br>
      <div class="row">
        <div class="col-2">
          <h5 class="form-label">New:</h5>
        </div>
        <div class="col">
          <p>
            <a href="{% url 'objects:tag_create' %}?next={{ request.path }}">
              <button class="btn btn-sm btn-primary">New Tag</button>
            </a>
          </p>
        </div>
      </div>
      <br>
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form_fields.html' %}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
      <br>
      {% if not object.is_public %}
        <a href="{% url 'objects:publish_image' image.pk %}">
          <button class="btn btn-success">Publish</button>
        </a>
      {% endif %}
      <br>
    </div>
  </div>
{% endblock %}
