{% extends 'base.html' %}
{% block body_block %}
  <div class ="container edit-bg">
    <div class="container">
      <h2 class="images-title">Modify {{ image }}</h2>
    </div>
    <br>
    <div class="container">
      <form  method="post" enctype="multipart/form-data">
        <img class="form-preview-image" src="{{ image.image_file.url }}" alt="{{ image.title }}"><br>
        <br>
        {% csrf_token %}
        {% include 'form_fields.html' %}
        <input type="submit" value="Modify" class="btn btn-success">
      </form>
      <br>
      {% if not object.is_public %}
        <a href="{% url 'objects:publish_image' image.pk %}">
          <button class="btn btn-success">Publish</button>
        </a>
      {% endif %}
      <br>
    </div>
  </div>
{% endblock %}
