{% extends "base.html" %}
{% block body_block %}
<div class="container image-bg">
  <div class="row">
    <div class="col">
      <h4 class="images-title">{{ image.title }}</h4>
    </div>
    <div class="col-">
      {% if image.owner.pk == request.user.pk %}
        <a href="{% url 'objects:image_delete' image.pk %}">
          <button type="button" class="btn btn-sm  btn-danger float-right">Delete</button>
        </a>
        <a href="{% url 'objects:image_update' image.pk %}">
          <button type="button" class="btn btn-sm btn-warning float-right">Edit</button>
        </a>
        {% if not image.is_public %}
        <a href="{% url 'objects:publish_image' image.pk %}">
          <button type="button" class="btn btn-sm btn-success float-right">Publish</button>
        </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <br>
  <a href="{{ image.image_file.url }}">
    <img class="images-image" src="{{ image.image_file.url }}" alt="{{ image.title }}">
  </a>
  <br>
  <br>
  {% include './object_tags.html' %}
  <br>
  <p>Image file: <a href="{{ image.image_file.url }}">{{ image.image_file.url }}</a>
  <p>Thumbnail file: <a href="{{ image.thumbnail_file.url }}">{{ image.thumbnail_file.url }}</a>
  <p>{{ image.text }}</p>
  <p>Credit: {{ image.credit }}</p>
  {% include './object_meta_data.html' %}
  <br>
</div>
{% endblock %}
