{% extends "base.html" %}
{% block body_block %}
<div class="container-fluid images-bg">
  <br>
  {% ifequal request.user.pk image.owner.pk %}
    <a href="{% url 'objects:image_update' image.pk %}">
      <button type="button" class="btn btn-warning float-right">Edit</button>
    </a>
    <br>
  {% endifequal %}
  <center>
    <h3 class="images-title">{{ image.title }}</h3>
    <img class="images-image" src="{{ image.image_file.url }}" alt="{{ image.title }}">
    <p>{{ image.text }}</p>
    <p><i>{{ image.credit }}</i></p>
  </center>
</div>
<br>
{% endblock %}
