{% extends 'base.html' %}
{% block body_block %}
<div class="container objects-bg">
  {% if link.is_public or link.owner.pk == request.user.pk %}
    {% include './link_detail_header.html' %}
    {% if link.text %}
      <p class="links-list-description">{{ link.text }}</p>
    {% endif %}
    {% if link.favicon_href %}
      <div class="link-list-card float-start" style="background-image:url('{{ link.favicon_href }}')"></div>
    {% endif %}
    <a href="{{ link.url }}" class="link-url"><p class="links-list-link">{{ link.url|truncatechars:128 }}</p></a>
    {% include './object_meta_data.html' %}
    <div class="row">
      <div class="col-sm">
        {% include 'objects/object_tags.html' %}
      </div>
      <div class="col-auto float-end">
        {% if link.is_public and can_add_marshmallow %}
          <a href="{% url 'objects:link_marshmallow' link.pk %}">
            <button type="button" class="btn btn-sm btn-light marshmallow-button float-end">M</button>
          </a>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>This external link has not been published yet.</p><br>
  {% endif %}
</div>
<br>
{% endblock %}
