{% extends 'base.html' %}
{% block body_block %}
  <div class ="container create-bg">
    <div class="container">
      <h2 class="link-title">Upload Link</h2>
      <p>
        Share a link to another website or other online resource.
      </p>
      <br>
      {% include './new_tag.html' %}
      <br>
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Standard field iterator -->
        {% for field in form %}
          {% if field != form.image %}
            {{ field.errors }}
            <div class="row">
              <div class="col-2">
                <h5 class="form-label">{{ field.label_tag }}</h5>
              </div>
              <div class="col-sm-10">
                <p>{{ field.help_text }}</p>
                {{ field }}
              </div>
            </div>
            <br>
            <br>
          {% endif %}
        {% endfor %}
        <br>
        <br>
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
      <br>
    </div>
  </div>
{% endblock %}
