<div class="row">
  <div class="col-sm">
    <h3 class="link-title">
      {% if link.title %}
        {{ link.title }}
      {% else %}
        Untitled Link
      {% endif %}
    </h3>
  </div>
  <div class="col-auto">
    {% if link.owner.pk == request.user.pk %}
      <a href="{% url 'objects:link_delete' link.pk %}">
        <button type="button" class="btn btn-sm  btn-danger float-end">Delete</button>
      </a>
      <a href="{% url 'objects:link_update' link.pk %}">
        <button type="button" class="btn btn-sm btn-warning float-end">Edit</button>
      </a>
      {% if not link.is_public %}
        <a href="{% url 'objects:publish_link' link.pk %}">
          <button type="button" class="btn btn-sm btn-success float-end">Publish</button>
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
<br>
