{% if link.is_public or link.user == request.user %}
  <li class="list-group-item link-list-li">
    <h4 class="link-title">{{ link.title }}</h4>
    <div class="link-list-card float-left" style="background-image:url('/media/{{ link.image.thumbnail_file }}')"></div>
    <p>{{ link.text }}</p>
    <a href="{{ link.url }}" class="links-list-link">
      <p class="link-list-link">{{ link.url }}</p>
    </a>
    {% if not link.is_public %}
      <span class="badge badge-secondary">Unpublished</span>
    {% endif %}
    {% if user_only and link.owner.pk == request.user.pk %}
      <a href="{% url 'links:link_update' link.pk %}?next={{ request.path }}">
        <button class="btn-sm btn-warning">Edit</button>
      </a>
      {% if not link.is_public %}
        <a href="{% url 'links:link_delete' link.pk %}?next={{ request.path }}">
          <button class="btn-sm btn-danger">Delete</button>
        </a>
      {% endif %}
    {% endif %}
  </li>
{% endif %}
