<div class="row">
  <div class="col">
      {% if user_only %}
        <h3 class="link-title">{{ member }}'s Links</h3>
      {% elif tag %}
        <h3 class="images-title">Links</h3>
        <p><span class="badge badge-secondary">{{ tag }}</span></p>
      {% else %}
        <h3 class="images-title">Links</h3>
      {% endif %}
    </h3>
  </div>
  {% if request.user.is_authenticated %}
    <div class="col-">
      <div class="container">
        <form action="{% url 'objects:link_create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="url" name="url" maxlength="256" required id="id_url">&nbsp;
          <input type="submit" class="btn btn-sm btn-primary float-right" value="Add Link">
        </form>
        </a>
      </div>
    </div>
  {% endif %}
</div>
