<div class="row">
  <div class="col">
    <h3 class="link-title">
      {% if user_only %}
        {% if user.first_name and user.last_name %}
          {{ user.first_name }} {{ user.last_name }}{% else %}{{ user }}{% endif %}'s Links
      {% else %}
        Links
      {% endif %}
    </h3>
  </div>
  {% if request.user.is_authenticated %}
    <div class="col-">
      <div class="container">
        <form action="{% url 'objects:link_create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="url" name="url" maxlength="256" required id="id_url">&nbsp;
          <input type="submit" class="btn btn-sm btn-primary float-right" value="Add Link">
        </form>
        </a>
      </div>
    </div>
  {% endif %}
</div>
