<!-- Images -->
{% if new_images.count > 0 %}
  <div class="objects-section">
    <h5 class="objects-page-title">Image Files</h5>
    <p>
      <div class="image-matrix">
        {% for image in new_images %}
          {% include "./image_list_card.html" %}
        {% endfor %}
        {% if top_images.count > 0 %}
          {% for image in top_images %}
            {% include "./image_list_card.html" %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="clear"></div>
      <br>
    </p>
  </div>
{% endif %}
<!-- Sounds -->
{% if new_sounds.count > 0 %}
  <div class="objects-section">
    <h5 class="objects-page-title">Sound Files</h5>
    <p>
      {% for sound in new_sounds %}
        {% include './sound_preview_item.html' %}
      {% endfor %}
      {% if top_sounds.count > 0 %}
        {% for sound in top_sounds %}
          {% include './sound_preview_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Videos -->
{% if new_videos.count > 0 %}
  <div class="objects-section">
    <h5 class="objects-page-title">Video Files</h5>
    <p>
      {% for video in new_videos %}
        {% include './video_preview_item.html' %}
      {% endfor %}
      {% if top_videos.count > 0 %}
        {% for video in top_videos %}
          {% include './video_preview_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Code -->
{% if new_codes.count > 0 %}
  <div class="objects-section">
    <h5 class="objects-page-title">Code Samples</h5>
    <p>
      {% for code in new_codes %}
        {% include './code_preview_item.html' %}
      {% endfor %}
      {% if top_codes.count > 0 %}
        {% for code in top_codes %}
          {% include './code_preview_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
<!-- Links -->
{% if new_links.count > 0 %}
  <div class="objects-section">
    <h5 class="objects-page-title">External Links</h5>
    <p>
      {% for link in new_links %}
        {% include './link_preview_item.html' %}
      {% endfor %}
      {% if top_links.count > 0 %}
        {% for link in top_links %}
          {% include './link_preview_item.html' %}
        {% endfor %}
      {% endif %}
    </p>
  </div>
{% endif %}
