<div class="objects-header" {% if profile.banner %}style="background-image: url('{{ profile.banner.image_file.url }}');"{% endif %}>
  <div class="row">
    {% if profile.logo %}
      <div class="col-sm-">
        <div class="container">
          <img class="objects-logo" src="{{ profile.logo.image_file.url }}" alt="{{ profile.logo.title }}">
        </div>
      </div>
    {% endif %}
    {% if profile.show_title or profile.show_desc %}
      <div class="col-sm">
        {% if profile.title and profile.show_title %}
          <h3 class="brand-title objects-page-span objects-alert">{{ meta_title }}</h3>
        {% endif %}
        {% if meta_desc and profile.show_desc %}
          <br><p class="objects-page-span objects-alert"><i>{{ meta_desc }}</i></p>
        {% endif %}
      </div>
    {% endif %}
    {% if request.user.is_authenticated %}
      <div class="col-">
        <div class="container">
          <p>
            {% if show_settings_edit_button %} 
              {% with profile_settings_button as button %}
                {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
                  {% include 'buttons/edit_button.html' %}
                {% endwith %}
              {% endwith %}
            {% endif %}
            {% if show_profile_edit_button %} 
              {% with profile_edit_button as button %}
                {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
                  {% include 'buttons/edit_button.html' %}
                {% endwith %}
              {% endwith %}
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}
  </div>
  {% if profile.text %}
    <p class="objects-page-span objects-alert">{{ profile.text }}</p>
  {% endif %}
  <div class="row">
    <div class="col-sm">
      {% include './objects_page_navbar.html' %}
    </div>
  </div>
</div>
