{% extends 'header.html' %}
{% block logo_block %}
  <img class="objects-logo" src="{{ profile.logo.thumbnail_file.url }}" alt="{{ profile.logo.title }}">
{% endblock %}
{% if meta_title and profile.show_title %}
  {% block title_block %}
    <h3 class="objects-brand-title objects-page-span objects-alert">{{ meta_title }}</h3><br>
  {% endblock %}
{% endif %}
{% if meta_desc and profile.show_desc %}
  {% block desc_block %}
    <p class="objects-page-span objects-alert"><i>{{ meta_desc }}</i></p><br>
  {% endblock %}
{% endif %}
{% block nav_block %}
  {% include './objects_page_navbar.html' %}
{% endblock %}
{% block buttons_block %}
  {% if show_post_add_button %}
    {% with post_add_button as button %}
      {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
        {% include 'buttons/add_button.html' %}
      {% endwith %}
    {% endwith %}
  {% endif %}
  {% if show_settings_edit_button %}
    {% with profile_settings_button as button %}
      {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
        {% include 'buttons/edit_button.html' %}
      {% endwith %}
    {% endwith %}
  {% endif %}
  {% if show_profile_edit_button %}
    {% with profile_edit_button as button %}
      {% with button|lookup:"url" as button_url and button|lookup:"text" as button_text %}
        {% include 'buttons/edit_button.html' %}
      {% endwith %}
    {% endwith %}
  {% endif %}
{% endblock %}
