{% extends "base.html" %}
{% block body_block %}
<div class="container objects-bg">
  <div class="row">
    <div class="col">
      {% if not object.hide_title %}
        <h4 class="objects-page-title">{{ object.title }}</h4>
      {% endif %}
    </div>
    {% if object.owner.pk == request.user.pk %}
      <div class="col-auto">
        <a href="{% url 'objects:objects_page_section_create' %}?order={{ object.next_order }}"><button type="button" class="btn btn-sm btn-primary create-button">+</button></a>
        <a href="{% url 'objects:objects_page_section_update' object.pk %}"><button type="button" class="btn btn-sm btn-warning edit-button">&#9998;</button></a>
        <a href="{% url 'objects:objects_page_section_delete' object.pk %}"><button type="button" class="btn btn-sm btn-danger delete-button">X</button></a>
      </div>
    {% endif %}
  </div>
  <p><i>From the <a href="{% url 'objects:objects_page' %}">{{ profile.title }}</a> landing page.</i></p>
  {% with object as section %}
    {% include 'sections/section.html' %}
  {% endwith %}
  {% if object.is_public %}
    Contributed by <a href="{% url 'objects:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.publication_date }}<br>
    {% if object.last_modified > object.creation_date %}
      Last updated on {{ object.last_modified }}<br>
    {% endif %}
  {% else %}
    Created by <a href="{% url 'members:member_profile' object.owner.username %}">{{ object.owner }}</a> on {{ object.creation_date }}<br>
  {% endif %}
  <br>
</div>
<br>
{% endblock %}
