{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid">
  <!-- Heading -->
  {% include './objects_page_header.html' %}
  {% if members or contributors or new_images or new_sounds or new_videos or new_codes or new_links or top_images or top_sounds or top_videos or top_codes or top_links or sections or profile.links.count.all > 0 or profile.bitcoin_wallet or profile.litecoin_wallet %}
    <div class="row">
      {% if sections %}
        <div class="col-sm">
          {% if profile.text %}
            <p class="objects-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './objects_page_sections.html' %}
          {% if profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
            {% include './objects_page_links.html' %}
          {% endif %}
        </div>
      {% endif %}
      {% if members or contributors or new_images or new_sounds or new_videos or new_codes or new_links or top_images or top_sounds or top_videos or top_codes or top_links %}
        <div class="col-sm">
          {% if not sections and profile.text %}
            <p class="objects-page-span">{{ profile.text }}</p>
          {% endif %}
          {% include './objects_page_items.html' %}
          {% if not sections %}
            {% include './objects_page_links.html' %}
          {% endif %}
        </div>
      {% elif profile.links or profile.bitcoin_wallet or profile.litecoin_wallet %}
        {% if not sections %}
          <div class="col-sm">
            {% include './objects_page_links.html' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% elif profile.text %}
    <p class="objects-page-span">{{ profile.text }}</p>
  {% else %}
    <div class="container">
      <span class="objects-page-span objects-alert"><i>Coming Soon...</i></span>
    </div>
    <br>
  {% endif %}
</div>
{% endblock %}
