{% extends 'base.html' %}
{% block body_block %}
  <div class ="container edit-bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="images-title">Edit "{{ sound }}"</h4>
        </div>
        <div class="col-">
          {% include './new_tag.html' %}
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <audio controls="controls">
        {% include 'audio_mime_types.html' %}
      </audio>
      <br>
      <br>
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          {% include 'form_field.html' %}
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
      <br>
    </div>
  </div>
{% endblock %}
