{% extends "base.html" %}
{% block body_block %}
<div class="container sound-bg">
  <br>
  {% ifequal request.user.pk sound.owner.pk %}
    <a href="{% url 'objects:sound_update' sound.pk %}">
      <button type="button" class="btn btn-warning float-right">Edit</button>
    </a>
    <br>
  {% endifequal %}
  <center>
  <a href="{% url 'objects:sound_detail' pk=sound.pk %}">
    <h4 class="sound-title">{{ sound.title }}</h4>
  </a>
  {% if not sound.is_public %}
    <div class="container">
      <span class="badge badge-secondary">Unpublished</span>
    </div>
  {% endif %}
  <p>{{ sound.text }}</p>
  <audio controls>
    <source src="{{ sound.sound_file.url }}" type="audio/mpeg">
    <source src="{{ sound.sound_file.url }}" type="audio/ogg">
      Your Browser does not support the media player
  </audio>
  </center>
  <br>
  <br>
</div>
<br>
{% endblock %}
