{% if articles %}
  <h5 class="tag-title">Articles</h5>
  {% for article in articles %}
    {% if article.is_public %}
      <div class="row">
        <div class="col-">
          {% if article.image %}
            <div class="tag-list-image" style="background-image:url('{{ article.image.thumbnail_file.url }}')"></div>
          {% elif article.owner.profile.image %}
            <div class="tag-list-image" style="background-image:url('{{ article.owner.profile.image.thumbnail_file.url }}')"></div>
          {% else %}
            <div class="tag-list-image" style="background-image:url('/static/favicon.ico')"></div>
          {% endif %}      
        </div>
        <div class="col-sm">
          <p>
            <a class="tag-title" href="{% url 'documentation:article_detail' article.slug %}">{{ article.title }}</a><br>
            Written by <a href="{% url 'members:member_profile' article.owner.username %}">{{ article.owner }}</a>{% if article.is_public %}, published on {{ article.publication_date|date:"M d, Y" }}{% endif %}.<br>
            {{ article.meta_description }}
          </p>
        </div>
      </div>
      <br>
    {% endif %}
  {% endfor %}
  {% if total_articles > list_length %}
    <p>
      all articles tagged with <a href="{% url 'objects:article_tag' tag.slug %}">"{{ tag }}"</a>
    </p>
  {% endif %}
{% endif %}
