{% if documents %}
  <h5 class="tag-title">Information</h5>
  {% for document in documents %}
    {% if document.is_public %}
      <div class="row">
        <div class="col-">
          {% if document.image %}
            <div class="tag-list-image" style="background-image:url('{{ document.image.thumbnail_file.url }}')"></div>
          {% elif document.owner.profile.image %}
            <div class="tag-list-image" style="background-image:url('{{ document.owner.profile.image.thumbnail_file.url }}')"></div>
          {% else %}
            <div class="tag-list-image" style="background-image:url('/static/favicon.ico')"></div>
          {% endif %}      
        </div>
        <div class="col-sm">
          <p>
            <a class="tag-title" href="{% url 'documentation:support_document_detail' document.slug %}">{{ document.title }}</a><br>
            Contributed by <a href="{% url 'members:member_profile' document.owner.username %}">{{ document.owner }}</a>{% if document.is_public %}, last updated on {{ document.last_modified|date:"M d, Y" }}{% endif %}.<br>
            {{ document.meta_description }}
          </p>
        </div>
      </div>
      <br>
    {% endif %}
  {% endfor %}
  {% if total_documents > list_length %}
    <p>
      all documents tagged with <a href="{% url 'objects:support_document_tag' tag.slug %}">"{{ tag }}"</a>
    </p>
  {% endif %}
{% endif %}
