{% if stories %}
  <h5 class="tag-title">Stories</h5>
  {% for story in stories %}
    <div class="row">
      <div class="col-auto">
        {% if story.image %}
          <div class="tag-list-image" style="background-image:url('{{ story.image.thumbnail_file.url }}')"></div>
        {% elif story.owner.profile.image %}
          <div class="tag-list-image" style="background-image:url('{{ story.owner.profile.image.thumbnail_file.url }}')"></div>
        {% else %}
          <div class="tag-list-image" style="background-image:url('/static/icon.webp')"></div>
        {% endif %}      
      </div>
      <div class="col-sm">
        <p>
          <a class="tag-title" href="{% url 'documentation:story_detail' story.slug %}">{{ story.title }}</a>
          {% if not story.is_public %}
            <span class="badge bg-dark">Unpublished</span>
          {% endif %}
          <br>
          Written by {{ story.author }}, published by <a href="{% url 'members:member_profile' story.owner.username %}"><span class="index-heading-span">{{ story.owner }}</span></a>{% if story.is_public %} on {{ story.publication_date|date:"M d, Y" }}{% endif %}.<br>
          {{ story.meta_description }}
        </p>
      </div>
    </div>
    <br>
  {% endfor %}
  {% if total_stories > list_length %}
    <p>
      all stories tagged with <a href="{% url 'objects:story_tag' tag.slug %}">"{{ tag }}"</a>
    </p>
  {% endif %}
{% endif %}
