{% extends './objects_list.html' %}
{% block items_block %}
  <form action="{% url 'objects:get_tag_detail' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-3">
        <select class="link-list-field" required id="pk" name="pk">&nbps;
          <option value="none" selected disabled hidden>Choose a Tag</option>
          {% for tag in tags %}
            <option value="{{ tag.pk }}">{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <input type="submit" class="btn btn-sm btn-primary" value="Get Tag">
      </div>
    </div>
  </form>
  <br>
  {% if tags.count > 0 %}
    {% include "page_control.html" %}
    <br>
    {% for tag in tags %}
      <span class="objects-tag badge bg-secondary">
        <a href="{% url 'objects:tag_detail' tag.slug %}" class="tag-font">
          {{ tag.key }}{% if tag.value %}: {{ tag.value }}{% endif %}
        </a>
      </span>
    {% endfor %}
    <br><br>
    {% include "page_control.html" %}
  {% else %}
    <p>There are no tags yet. Check back soon!</p>
  {% endif %}
</div>
<br>
{% endblock %}
