{% if albums %}
  <h5 class="tag-title">Albums</h5>
  {% for album in albums %}
    <div class="row">
      <div class="col-auto">
        {% if album.cover %}
          <div class="music-album-list-image" style="background-image:url('{{ album.cover.thumbnail_file.url }}')"></div>
        {% elif album.owner.profile.image %}
          <div class="music-album-list-image" style="background-image:url('{{ album.owner.profile.image.thumbnail_file.url }}')"></div>
        {% else %}
          <div class="music-album-list-image" style="background-image:url('/static/icon.webp')"></div>
        {% endif %}      
      </div>
      <div class="col-sm">
        <p>
          <a class="tag-title" href="{% url 'music:album_detail' album.slug %}">{{ album.title }}</a>
          {% if not album.is_public %}
            <span class="badge bg-dark">Unpublished</span>
          {% endif %}
          <br>
          Music collection by {{ album.artist }}, released by <a href="{% url 'members:member_profile' album.owner.username %}"><span class="index-heading-span">{{ album.owner }}</span></a>{% if album.is_public %} on {{ album.publication_date|date:"M d, Y" }}{% endif %}.<br>
          {{ album.meta_description }}
        </p>
      </div>
    </div>
    <br>
  {% endfor %}
  {% if total_albums > list_length %}
    <p>
      all albums tagged with <a href="{% url 'objects:album_tag' tag.slug %}">"{{ tag }}"</a>
    </p>
  {% endif %}
{% endif %}
