{% extends 'base.html' %}
{% block body_block %}
<div class="container tags-bg">
  <div class="row">
    <div class="col">
      <h4 class="tag-title">Tags</h4>
    </div>
    <div class="col-">
      <a href="{% url 'objects:tag_create' %}">
        <button class="btn btn-sm btn-primary">Add Tag</button>
      </a>
    </div>
  </div>
  {% for tag in tags %}
    <span class="badge badge-secondary">
      <a href="{% url 'objects:tag_detail' tag.slug %}" class="tag-font">
        {{ tag.key }} {% if tag.value %}: {{ tag.value }}{% endif %}
      </a>
    </span>
  {% endfor %}
  <br>
  <br>
</div>
{% endblock %}
