{% extends 'base.html' %}
{% block body_block %}
  <div class ="container edit-bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="images-title">Edit "{{ video }}"</h4>
        </div>
        <div class="col-">
          {% include './new_tag.html' %}
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <video class="video-player-sm" preload="auto" controls>
        {% include 'video_mime_types.html' %}
      </video>
      <br>
      <br>
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form_fields.html' %}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
      <br>
    </div>
  </div>
{% endblock %}
