{% extends "base.html" %}
{% block body_block %}
<div class="container video-bg">
  {% if video.is_public or video.owner.pk == request.user.pk %}
    {% include './video_detail_button_bar.html' %}
    <p>{{ video.text }}</p>
    <video class="video-player" src="{{ video.video_file.url }}" controls>
        Your Browser does not support the media player.
    </video>
    <br>
    <br>
    {% include './object_tags.html' %}
    <br>
    <p>Credit: <i>{{ video.credit }}</i></p>
    <p>Video file: <a href="{{ video.video_file.url }}">{{ video.video_file.url }}</a></p>
    {% include './object_meta_data.html' %}
    <br>
  {% else %}
    <p>This Video has not been published yet.</p>
  {% endif %}
</div>
<br>
{% endblock %}
