{% extends "base.html" %}
{% block body_block %}
<div class="container video-bg">
  {% if video.is_public or video.owner.pk == request.user.pk %}
    {% include './video_detail_button_bar.html' %}
    <video class="video-player" preload="auto" controls>
      {% include 'video_mime_types.html' %}
    </video>
    <br>
    <br>
    <p>{{ video.text }}</p>
    <p>
      Video file: <a href="{{ video.video_file.url }}">{{ video.video_file.url }}</a><br>
      {% if video.credit %}Credit: {{ video.credit }}{% endif %}
    </p>
    {% if video.tags.all.count > 0 %}
      {% include './object_tags.html' %}
      <br>
    {% endif %}
    {% include './object_meta_data.html' %}
    <br>
  {% else %}
    <p>This Video has not been published yet.</p>
  {% endif %}
</div>
<br>
{% endblock %}
