{% extends "base.html" %}
{% block body_block %}
{% if profile.bg_image %}<div style="background-image: url('{{ profile.bg_image.image_file.url }}');">{% endif %}

<div class="container video-bg">
  {% if video.is_public or video.owner.pk == request.user.pk %}
    {% include './video_detail_button_bar.html' %}
    <video class="video-player" preload="auto" controls>
      {% include 'video_mime_types.html' %}
    </video>
    <br>
    <br>
    {% if video.text %}
      <p>{{ video.text }}</p>
    {% endif %}
    <p>
      Video file: <a href="{{ video.video_file.url }}">{{ video.video_file.url }}</a><br>
      {% if video.credit %}Credit: {{ video.credit }}{% endif %}
    </p>
    {% include './object_meta_data.html' %}
    {% include 'objects/object_tags.html' %}
    <br>
  {% else %}
    <p>This Video has not been published yet.</p>
  {% endif %}
</div>
<br>
{% if profile.bg_image %}</div>{% endif %}
{% endblock %}
