@import "css/home.css";
@import "css/forms.css";
@import "css/sounds.css";
@import "css/images.css";
@import "css/index.css";
@import "css/links.css";
@import "css/people.css";
@import "css/studio.css";
@import "css/nav.css";
@import "css/code.css";
@import "css/tags.css";
@import "css/profile.css";
@import "css/videos.css";
@import "css/marshmallows.css";
@import "css/members.css";
@import "css/documentation.css";
@import "css/posts.css";
@import "css/music.css";
@import "css/art.css";
@import "css/crypto.css";
@import "css/objects.css";

table, th, td {
  padding: 5px;
}

.clear {
  clear: both;
}

.base-bg {
  background-color: #ffffff;
  /*background-image: url("/static/hexagon-pattern-2657990_960_720.jpg");*/
  color: #dddddd;
  background-size: 200px;
}

.base-body {
}

.base-footer {
  color: #111111;
  font-size: 0.75em;
  color: #444444;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
} 

.brand-title {
  color: #111111;
  font-family: 'Veranda', sans-serif;
}

.btn-margin {
  margin-right: 10px;
  margin-bottom: 10px;
}

.edit-button {
  border-radius: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.create-button {
  border-radius: 48%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.delete-button {
  border-radius: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.object-title {
  font-family: 'Times New Roman', serif;
}

.pagination-span {
  line-height: 5;
}

.section-image {
  max-width: 100%;
  min-width: 250px;
  max-height: auto;
}

.section-thumbnail {
  margin-right: 20px;
}

.section-thumbnail-container {
  max-width: 250px;
  margin: 13px; 
}

.section-thumbnail-text {
  max-width: 250px;
  margin-right: 15px;
}

.section-video {
  width: 100%;
  max-height: auto;
}

.section-text {
  min-width: 330px;
}

.title-button {
  margin: 3px;
}

/* Changing the default link color */
a {color: #338ab5;}
a:hover {color: #46aadb;}

/* Custom orderd list */
/* https://css-tricks.com/custom-list-number-styling/ */
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 0.5rem;
}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0.5rem;
  font-family: 'Times New Roman', serif;
  line-height: 1;
}

p h1 h2 h3 h4 h5 h6 span {
  overflow-wrap: break-word;
}
