@import "css/forms.css";
@import "css/images.css";
@import "css/index.css";
@import "css/kbtech.css";
@import "css/links.css";
@import "css/people.css";
@import "css/studio.css";
@import "css/updates.css";
@import "css/qnd.css";

.clear {
  clear: both;
}

.base-bg {
  background-color: #111111;
  /*background-image: url("/static/hexagon-pattern-2657990_960_720.jpg");*/
  color: #dddddd;
  background-size: 200px;
  padding-top: 70px;
}

.base-body {
  padding-top: 60px;
}

.base-footer {
  background-color: #ffffff;
  color: #222222;
  font-size: 0.75em;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
} 

.create-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  margin-bottom: 40px;
}

.edit-bg {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  margin-bottom: 40px;
}
