{% for image in images %}
  <div class="images-section-image">
    <a href="{{ image.image_file.url }}">
      <img class="documentation-image" src="{{ image.thumbnail_file.url }}" alt="{{ image.title }}">
    </a><br><br>
    <span class="">
      {% if image.text %}
        {{ image.text }}<br>
      {% endif %}
      {% if image.credit %}
        <i>{{ image.credit }}</i><br>
      {% endif %}
      {% if image.owner.pk == request.user.pk %}
        <a href="{% url 'objects:image_update' image.pk %}?next={{ request.path }}">
          <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
        </a>
      {% endif %}
    </span>
  </div>
{% endfor %}
<div class="clear"></div>
