{% for link in links %}
  <div class="row">
    <div class="col-auto">
      <p>
        {% if link.favicon_href %}
          <img class="link-favicon" src="{{ link.favicon_href }}" alt="&#127760;">
        {% else %}
          &#127760;
        {% endif %}
        {% if link.title %}
          <a href="{{ link.url }}" class="links-list-link">{{ link.title }}</a><br>
        {% else %}
          <a href="{{ link.url }}" class="links-list-link">{{ link.url|truncatechars:64 }}</a><br>
        {% endif %}
      </p>
    </div>
    <div class="col">
      {% if link.owner.pk == request.user.pk %}
        <a href="{% url 'objects:link_update' link.pk %}?next={{ request.path }}">
          <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
        </a>
      {% endif %}
    </div>
  </div>
  {% if link.text %}
    <p>{{ link.text|truncatechars:280 }}</p>
  {% endif %}
{% endfor %}
