<nav class="container-fluid navbar fixed-top navbar-expand-lg navbar-light bg-light nav-pad">
  {% load static %}
  <a class="nav-item navbar-brand" href="/"><img src="{% static 'favicon.ico' %}" class="nav-logo" alt="Lookaway CMS(dev)"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- NAVBAR -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'objects:public_images' %}">Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'objects:public_sounds' %}">Sounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'objects:public_code' %}">Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'objects:public_links' %}">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'objects:tags' %}">Tags</a>
        </li>
      </ul>
      <div class="btn-group">
          {% include "./base_nav_member_dropdown.html" %}
      </div>
      {% else %}
      {% endif %}
    </ul>
  </div>
</nav>
