<div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ user }}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item nav-font" href="{% url 'members:studio' %}">Studio</a>
    {% if user.is_staff %}
       <a target="_blank" rel="noopener noreferrer" class="dropdown-item nav-font" href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'members:logout' %}">Logout</a>
  </div>
</div>
