<nav class="container-fluid navbar sticky-top navbar-expand-lg navbar-light bg-light">
  {% load static %}
  <a class="nav-item navbar-brand" href="/"><img src="{% static 'icon.webp' %}" class="nav-logo" alt="Lookaway Information"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- NAVBAR -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if nav_show_posts %} 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:posts_page' %}">{% if nav_posts_image %}<img src="{{ nav_posts_image }}" class="nav-image" alt="{{ nav_posts_name }}">{% else %}<span class="index-header-span nav-font">{{ nav_posts_name }}</span>{% endif %}</a>
        </li>
      {% endif %}
      {% if nav_show_documentation %} 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'documentation:documentation_page' %}">{% if nav_documentation_image %}<img src="{{ nav_documentation_image }}" class="nav-image" alt="{{ nav_documentation_name }}">{% else %}<span class="index-header-span nav-font">{{ nav_documentation_name }}</span>{% endif %}</a>
        </li>
      {% endif %}
      {% if nav_show_music %} 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'music:music_page' %}">{% if nav_music_image %}<img src="{{ nav_music_image }}" class="nav-image" alt="{{ nav_music_name }}">{% else %}<span class="index-header-span nav-font">{{ nav_music_name }}</span>{% endif %}</a>
        </li>
      {% endif %}
      {% if nav_show_art %} 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'art:art_page' %}">{% if nav_art_image %}<img src="{{ nav_art_image }}" class="nav-image" alt="{{ nav_art_name }}">{% else %}<span class="index-header-span nav-font">{{ nav_art_name }}</span>{% endif %}</a>
        </li>
      {% endif %}
      {% if nav_show_members %} 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members:members_page' %}">{% if nav_members_image %}<img src="{{ nav_members_image }}" class="nav-image" alt="{{ nav_members_name }}">{% else %}<span class="index-header-span nav-font">{{ nav_members_name }}</span>{% endif %}</a>
        </li>
      {% endif %}
      {% if request.user.is_authenticated and nav_show_objects %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'objects:objects_page' %}">{% if nav_objects_image %}<img src="{{ nav_objects_image }}" class="nav-image" alt="{{ nav_objects_name }}">{% else %}<span class="index-header-span nav-font">{{ nav_objects_name }}</span>{% endif %}</a>
        </li>
      {% endif %}
      <!-- Turning the objects off for now 
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link nav-font-objects" href="{% url 'objects:public_videos' %}">Video Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font-objects" href="{% url 'objects:public_sounds' %}">Sound Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font-objects" href="{% url 'objects:public_links' %}">External Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font-objects" href="{% url 'objects:public_code' %}">Code Samples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font-objects" href="{% url 'objects:tags' %}">Tags</a>
        </li>
      {% endif %}
      -->
    </ul>
    {% if request.user.is_authenticated %}
      <span class="nav-text">
        <a class="" href="{% url 'members:member_profile' request.user.username %}">
          <button class="btn btn-sm btn-dark float-left">Profile</button>
        </a>
        <a class="" href="{% url 'members:studio' %}">
          <button class="btn btn-sm btn-primary float-left">Studio</button>
        </a>
        {% if request.user.is_superuser %}
          <a class="" href="{% url 'admin:index' %}">
            <button class="btn btn-sm btn-warning float-left">Admin</button>
          </a>
        {% endif %}
        <a href="{% url 'logout' %}">
          <button class="btn btn-sm btn-danger">Logout</button>
        </a>
      </span>
    {% endif %}
  </div>
</nav>
