<a class="nav-link dropdown-toggle nav-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#128190;</a>
<div class="dropdown-menu">
  <a class="nav-link nav-font" href="{% url 'objects:public_images' %}">&#128247;</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_sounds' %}">&#128266;;</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_videos' %}">&#128252;</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_code' %}"><></a>
  <a class="nav-link nav-font" href="{% url 'objects:public_links' %}">&#127760;</a>
</div>
