<a class="nav-link dropdown-toggle nav-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#128190;</a>
<div class="dropdown-menu">
  <a class="nav-link nav-font" href="{% url 'objects:public_images' %}">Images</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_videos' %}">Videos</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_sounds' %}">Sounds</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_code' %}">Code</a>
  <a class="nav-link nav-font" href="{% url 'objects:public_links' %}">Links</a>
  <a class="nav-link nav-font" href="{% url 'objects:tags' %}">Tags</a>
</div>
