<nav class="container-fluid navbar fixed-top navbar-expand-lg navbar-light bg-light nav-pad">
  {% load static %}
  <a class="nav-item navbar-brand" href="/"><img src="{% static 'favicon.ico' %}" class="nav-logo" alt="Lookaway CMS(dev)"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- NAVBAR -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          {% include 'base_nav_objects_dropdown.html' %}
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'members:studio' %}">Studio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'posts:top_posts' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'documentation:public_documents' %}">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'documentation:public_support_documents' %}">Support</a>
        </li>
      </ul>
      <span class="nav-text">
        <a class="" href="{% url 'members:member_profile' request.user.username %}">
          <button class="btn btn-sm btn-dark">Profile</button>
        </a>
        <a href="{% url 'logout' %}">
          <button class="btn btn-sm btn-danger">Logout</button>
        </a>
      </span>
      {% else %}
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'posts:top_posts' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{% url 'documentation:public_documents' %}">Documents</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
