<div class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'objects:image_create' %}">Image</a>
    <a class="dropdown-item" href="{% url 'objects:link_create' %}">Link</a>
    <a class="dropdown-item" href="{% url 'objects:sound_create' %}">Sound</a>
    <a class="dropdown-item" href="{% url 'objects:code_create' %}">Code</a>
  </div>
</div>
