<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if meta_title %}
    <title>{{ meta_title }}</title>
  {% elif object.title %}
    <title>{{ object.title }}</title>
  {% elif lookaway_title %}
    <title>{{ object.title }}</title>
  {% else %}
    <title>Lookaway Information</title>
  {% endif %}
  {% if meta_desc %}
    <meta name="description" content="{{ meta_desc }}">
  {% elif object.meta_description %}
    <meta name="description" content="{{ object.meta_description }}">
  {% elif lookaway_desc %}
    <meta name="description" content="{{ lookaway_desc }}">
  {% else %}
    <meta name="description" content="New and top media by lookaway members.">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/webp" href="{% static 'favicon.ico' %}"/>
  {% include 'base_fonts.html' %}
  {% include 'base_css.html' %}
</head>

{% if profile.bg_image %}
  <body class="base-bg base-body" style="background-image: url('{{ profile.bg_image.image_file.url }}'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
{% else %}
  <body class="base-bg base-body">
{% endif %}
  {% include 'base_js.html' %}
  {% include 'base_navbar.html' %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <div class="wrapper">
    {% block body_block %}
      <!-- Anything outside of this will be inhereited if you extend! -->
    {% endblock %}
  </div>
  <!-- FOOTER -->
  {% include 'base_footer.html' %}
</body>
</html>
