<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" media="screen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" media="screen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap" media="screen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Permanent+Marker&display=swap" media="screen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" media="screen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" media="screen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap" media="screen" rel="stylesheet">
