<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if object.title %}
    <title>{{ object.title }}</title>
  {% elif meta_title %}
    <title>{{ meta_title }}</title>
  {% else %}
    <title>Lookaway Information</title>
  {% endif %}
  {% if object.meta_description %}
    <meta name="description" content="{{ object.meta_description }}">
  {% elif meta_desc %}
    <meta name="description" content="{{ meta_desc }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/webp" href="{% static 'favicon.ico' %}"/>
  {% include 'base_fonts.html' %}
  {% include 'base_css.html' %}
</head>

<body class="base-bg base-body" style="color: #ffffff; background-color: #222222;">
  {% include 'base_js.html' %}
  {% include 'base_navbar.html' %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissable" style="margin-bottom: 0px;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block body_block %}
    <!-- Anything outside of this will be inhereited if you extend! -->
  {% endblock %}
  <!-- FOOTER -->
  {% include 'base_footer.html' %}
</body>
</html>
