{% if x.field.choices.queryset.count > 0 %}
  <div class="col-md form-field">
    <h5 class="form-label">{{ x.label }}</h5>
    <p>{{ x.help_text }}</p>
    <p>{{ x.errors }}{{ form.instance. }}</p>
    <!-- Null choice -->
    <div class="form-image-selection">
      <div class="form-image-card float-left">
        <p>&nbsp;<input type="radio" value="" name="{{ x.name }}" {% if object.image.pk == value|first %}checked{% endif %}></p>
      </div>
      {% for value in x.field.choices %}
        {% if value|first != '' %}
          <div class="form-image-card float-left" style="background-image:url('{{ value.2.thumbnail_file.url }}')">
            {% block input_block %}
            {% endblock %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="col-md form-field">
    <p>You have not uploaded any Images yet.</p>
  </div>
{% endif %}
