{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container">
  <!-- Heading -->
  <div class="row">
    <div class="col-md">
      {% include "index_update.html" %}
    </div>
  </div>
  {% if posts.count > 0 %}
    <!-- Newest public Posts -->
    <div class="row">
      <div class="col">
        <h3 class="index-post-title">Recent Posts</h3>
      </div>
      <div class="col">
        <p class="float-right">
          <a href="{% url 'posts:public_posts' %}">all posts</a> | 
          <a href="{% url 'posts:top_posts' %}">top posts</a> 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <ul class="list-group">
          {% include "index_post_list_item.html" %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
