<!-- Newest Albums -->
{% if albums.count > 0 %}
  <div class="col-sm">
    {% for album in albums %}
      <div class="row">
        <div class="col-">
          <div class="container">
            {% if album.cover %}
              <div class="index-album-list-image" style="background-image:url('{{ album.cover.thumbnail_file.url }}')"></div>
            {% elif track.owner.profile.image %}
              <div class="index-album-list-image" style="background-image:url('{{ album.owner.profile.image.thumbnail_file.url }}')"></div>
            {% else %}
              <div class="index-album-list-image" style="background-image:url('/static/icon.webp')"></div>
            {% endif %}
          </div>
        </div>
        <div class="col">
          <h6 class="index-title">
            <a href="{% url 'music:album_detail' album.slug %}">
              {{ album.title }}
            </a>
          </h6>
          <p class="index-meta">
            New Album by <span class="index-heading-span">{{ album.artist }}</span>
          </p>
        </div>
      </div>
    {% endfor %}
    <p><a href="{% url 'music:top_albums' %}">more albums...</a></p>
  </div>
{% endif %}

