<!-- Newest Visuals -->
{% if visuals.count > 0 %}
  <div class="index-col">
    {% for visual in visuals %}
      {% if visual.is_public and not visual.members_only or visual.is_public and request.user.is_authenticated or visual.owner.pk == request.user.pk %}
        <div class="visuals-card float-left">
          <a href="{% url 'art:visual_detail' visual.slug %}">
            {% if visual.image.thumbnail_file %}
              <div class="float-left index-visual-card" style="background-image:url('{{ visual.image.thumbnail_file.url }}')">
                {% if not visual.is_public %}
                  <span class="badge badge-secondary">Unpublished</span>
                {% endif %}
              </div>
            {% else %}
              <span class="visuals-piece-card-title">{{ visual.title }}</span>
              <span class="visuals-piece-card-title">Click here to see the Visual</span>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
    <div class="clear"></div>
  </div>
{% endif %}
