{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid index-bg">
  <!-- Heading -->
  {% include 'index_button_bar.html' %}
  <div class="row">
    <div class="col-sm">
      {% include 'index_posts.html' %}<br>
      {% include 'index_articles.html' %}<br>
      {% include 'index_stories.html' %}<br>
      {% include 'index_support_documents.html' %}<br>
    </div>
    <div class="col-">
      <div class="clear"></div>
      {% include 'index_visuals.html' %}
    </div>
    <div class="col-">
      {% include 'index_tracks.html' %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col-sm">
      {% include 'index_galleries.html' %}
      <div class="clear"></div>
      {% include 'index_albums.html' %}
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
