<!-- Newest public Posts -->
{% if posts.count > 0 %}
    <h5 class="index-title">
      Member Posts: 
      {% for post in posts %}
        {% if post.is_public and not post.members_only or post.is_public and request.user.is_authenticated or post.owner.pk == request.user.pk %}
            <a href="{% url 'posts:post_detail' post.slug %}">
              {{ post.title }}
            </a> &squf; 
        {% endif %}
      {% endfor %}
      <a href="{% url 'posts:public_posts' %}">more...</a>
    </h5>
{% endif %}
