<!-- Newest Tracks -->
{% if tracks.count > 0 %}
  <div class="col-sm">
    {% for track in tracks %}
        <div class="row">
          <div class="col-">
            <div class="container">
              {% if track.image %}
                <div class="index-track-list-image" style="background-image:url('{{ track.image.thumbnail_file.url }}')"></div>
              {% elif track.owner.profile.image %}
                <div class="index-track-list-image" style="background-image:url('{{ track.owner.profile.image.thumbnail_file.url }}')"></div>
              {% else %}
                <div class="index-track-list-image" style="background-image:url('/static/icon.webp')"></div>
              {% endif %}
            </div>
          </div>
          <div class="col">
            <h6 class="index-title">
              <a href="{% url 'music:track_detail' track.slug %}">
                {{ track.title }}
              </a>
            </h6>
            <p class="index-meta">
              New Track by <span class="index-heading-span">{{ track.artist }}</span>
            </p>
          </div>
        </div>
    {% endfor %}
    <p><a href="{% url 'music:top_tracks' %}">more tracks...</a></p>
    <br>
  </div>
{% endif %}

