{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid index-bg">
  <!-- Heading -->
  {% include 'index_button_bar.html' %}
  {% include 'index_posts.html' %}
  {% include 'index_articles.html' %}
  {% include 'index_stories.html' %}
  {% include 'index_tracks.html' %}
  {% include 'index_visuals.html' %}
  <div class="clear"></div>
  {% include 'index_galleries.html' %}
  {% include 'index_albums.html' %}
  <div class="clear"></div>
</div>
{% endblock %}
