{% extends "base.html" %}
{% block body_block %}
<div class="container members-bg">
  <h3>Join us</h3>
  {% if request.user.is_authenticated %}
    <pre class="code-block">{{ request.get_host }}/members/join-us/{{ object.slug }}</pre>
  {% endif %}
  <p>Expires: {{ object.expiration_date }}</p>
  <p>{{ object.note }}</p>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field != form.accept_terms %}
        {% include 'forms/form_field.html' %}
      {% endif %}
    {% endfor %}
    <div class="col-md form-field">
      <h5 class="form-label">{{ form.accept_terms.label }}</h5>
      <div class="code-box">{{ terms|linebreaksbr }}</div>
      <br>
      {% if form.accept_terms.help_text %}
        <p class="form-help">{{ form.accept_terms.help_text|linebreaksbr }}<p>
      {% endif %}
      <p>{{ form.accept_terms.errors }}</p>
      <p>{{ form.accept_terms }}</p>
    </div>
    <br>
    <input type="submit" class="btn btn-sm btn-success" value="Submit">
  </form>
  <br>
</div>
{% endblock %}
