{% extends "base.html" %}
{% block body_block %}
<div class="container members-bg">
  <h3>Join us</h3>
  {% if request.user.is_authenticated %}
    <pre class="code-block">{{ request.get_host }}/members/join-us/{{ object.slug }}</pre>
  {% endif %}
  <p>Expires: {{ object.expiration_date }}</p>
  <p>{{ object.note }}</p>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% include 'form_field.html' %}
    {% endfor %}
    <input type="submit" class="btn btn-sm btn-success" value="Submit">
  </form>
  <br>
</div>
{% endblock %}
