<source src="{{ video.video_file.url }}" type="video/mp4">
<source src="{{ video.video_file.url }}" type="video/3gpp">
<source src="{{ video.video_file.url }}" type="video/mp2t">
<source src="{{ video.video_file.url }}" type="video/mpeg">
<source src="{{ video.video_file.url }}" type="video/quicktime">
<source src="{{ video.video_file.url }}" type="video/webm">
<source src="{{ video.video_file.url }}" type="video/x-flv">
<source src="{{ video.video_file.url }}" type="video/x-m4v">
<source src="{{ video.video_file.url }}" type="video/x-m4v">
<source src="{{ video.video_file.url }}" type="video/x-mng">
<source src="{{ video.video_file.url }}" type="video/x-ms-asf">
<source src="{{ video.video_file.url }}" type="video/x-ms-wmv">
<source src="{{ video.video_file.url }}" type="video/x-ms-video">
Your Browser does not support the media player.
