<li class="list-group-item music-list-li">
  <div class="row">
    <div class="col-">
      {% if album.cover %}
        <div class="music-album-list-image" style="background-image:url('{{ album.cover.thumbnail_file.url }}')"></div>
      {% elif album.owner.profile.image %}
        <div class="music-album-list-image" style="background-image:url('{{ album.owner.profile.image.thumbnail_file.url }}')"></div>
      {% else %}
        <div class="music-album-list-image" style="background-image:url('/static/icon.webp')"></div>
      {% endif %}
    </div>
    <div class="col-sm">
      <h5 class="music-title">
        <a href="{% url 'music:album_detail' album.slug %}">
          {{ album.title }}
        </a>
      </h5>
      {% if album.publication_date %}
        <p>
        Released by <a href="{% url 'members:member_profile' album.owner.username %}"><span class="index-heading-span">{{ album.owner }}</span></a> on <span class="index-heading-span">{{ album.creation_date|date:"M d, Y" }}</span>
        </p>
      {% else %}
        {% include 'objects/unpublications.html' %}
      {% endif %}
    </div>
  </div>
</li>
