<div class="row">
  <div class="col-">
    {% if album.cover %}
      <div class="music-album-list-image" style="background-image:url('{{ album.cover.thumbnail_file.url }}')"></div>
    {% elif album.owner.profile.image %}
      <div class="music-album-list-image" style="background-image:url('{{ album.owner.profile.image.thumbnail_file.url }}')"></div>
    {% else %}
      <div class="music-album-list-image" style="background-image:url('/static/icon.webp')"></div>
    {% endif %}
  </div>
  <div class="col-sm">
    <h5 class="music-title">
      <a href="{% url 'music:album_detail' album.slug %}">
        {{ album.title }}
      </a>
    </h5>
    <p>
      Music by <span class="index-page-span">{{ album.artist }}</span><br>
      Released by <a href="{% url 'members:member_profile' album.owner.username %}"><span class="index-heading-span">{{ album.owner }}</span></a> on {{ album.creation_date|date:"M d, Y" }}
    </p>
  </div>
</div>
<p>
  {{ album.meta_description }}
</p>
{% if not album.is_public %}
	<span class="badge badge-dark">Unpublished</span>
{% endif %}
{% if album.tags.all.count > 0 %}
  {% with album as object %}
    {% include 'objects/object_tags.html' %}
  {% endwith %}
{% endif %}

