{% extends 'items/detail_item.html' %}
{% block thumbnail_block %}
  <div class="documentation-item-detail-image" style="background-image:url('{{ article.get_thumbnail }}')"></div>
{% endblock %}
{% block title_block %}
  <h5 class="documentation-title">
    <a href="{% url 'documentation:article_detail' article.slug %}">
      {{ article.title }}
    </a>
  </h5>
{% endblock %}
{% block meta_data_block %}
  <p>
    Written by <a href="{% url 'members:member_profile' article.owner.username %}"><span class="index-heading-span">{{ article.owner }}</span></a><br>
    Published on {{ article.creation_date|date:"M d, Y" }}
  </p>
{% endblock %}
{% block text_block %}{{ article.meta_description }}{% endblock %}
{% block tags_block %}
  {% if not article.is_public %}
    <span class="badge bg-dark">Unpublished</span>
  {% endif %}
  {% if article.tags.all.count > 0 %}
    {% with article as object %}
      {% include 'objects/object_tags.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}

