<li class="list-group-item {{ li_css }}">
  <div class="row">
    <div class="col col-sm">
      <p class="{{ p_css }}">
        {% if icon %}{{ icon }} {% endif %}<a href="{{ url }}">{{ title }}</a>
        {% if not public %}
          <span class="badge bg-secondary">Unpublished</span>
        {% endif %}
      </p>
    </div>
    {% if field1 %}
      <div class="col col-sm">
        <p class="{{ p_css }}">{{ field1 }}</p>
      </div>
    {% endif %}
    {% if field2 %}
      <div class="col col-sm">
        <p class="{{ p_css }}">{{ field2 }}</p>
      </div>
    {% endif %}
    {% if field3 %}
      <div class="col col-sm">
        <p class="{{ p_css }}">{{ field3 }}</p>
      </div>
    {% endif %}
  </div>
</li>
