{% extends 'items/detail_item.html' %}
{% block thumbnail_block %}
  <div class="documentation-item-detail-image" style="background-image:url('{{ document.get_thumbnail }}')"></div>
{% endblock %}
{% block title_block %}
  <h5 class="documentation-title">
    <a href="{% url 'documentation:support_document_detail' document.slug %}">
      {{ document.title }}
    </a>
  </h5>
{% endblock %}
{% block meta_data_block %}
  <p>
    Documented by <a href="{% url 'members:member_profile' document.owner.username %}"><span class="index-heading-span">{{ document.owner }}</span></a><br>{% if document.last_modified %}Last updated on <span class="index-header-span">{{ document.last_modified|date:"M d, Y" }}</span>{% elif document.publication_date %}Published on <span class="index-heading-span">{{ document.publication_date|date:"M d, Y" }}</span>{% endif %}
  </p>
{% endblock %}
{% block text_block %}{{ document.meta_description }}{% endblock %}
{% block tags_block %}
  {% if document.members_only %}
    <span class="badge bg-warning">Members Only</span>
  {% endif %}
  {% if not document.is_public %}
    <span class="badge bg-dark">Unpublished</span>
  {% endif %}
  {% if document.tags.all.count > 0 %}
    {% with document as object %}
      {% include 'objects/object_tags.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}
