{% extends 'items/detail_item.html' %}
{% block thumbnail_block %}
  <div class="posts-item-detail-image" style="background-image:url('{{ post.get_thumbnail }}')"></div>
{% endblock %}
{% block title_block %}
  <h6 class="posts-title">
    <strong><a href="{% url 'posts:post_detail' post.slug %}">
      {{ post.title }}
    </a></strong>
  </h6>
{% endblock %}
{% block meta_data_block %}
  <p>
    Posted by <a href="{% url 'members:member_profile' post.owner.username %}"><span class="index-heading-span">{{ post.owner }}</span></a>{% if post.publication_date %}<br><span class="index-heading-span">{{ post.publication_date|date:"M d, Y" }}</span>{% endif %}{% if post.location %} from <span class="index-heading-span">{{ post.location }}</span>{% endif %}
  </p>
{% endblock %}
{% block text_block %}{{ post.meta_description }}{% endblock %}
{% block tags_block %}
  {% if not post.is_public %}
    <span class="badge bg-dark">Unpublished</span>
  {% endif %}
  {% if post.members_only %}
    <span class="badge bg-warning">Members Only</span>
  {% endif %}
  {% if post.tags.all.count > 0 %}
  {% with post as object %}
    {% include 'objects/object_tags.html' %}
  {% endwith %}
  {% endif %}
{% endblock %}
