{% extends 'items/detail_item.html' %}
{% block thumbnail_block %}
  <div class="posts-item-detail-image" style="background-image:url('{{ response.get_thumbnail }}')"></div>
{% endblock %}
{% block title_block %}
  <h6 class="responses-title">
    <strong><a href="{% url 'posts:response_detail' response.slug %}">
      {{ response.title }}
    </a></strong>
  </h6>
{% endblock %}
{% block meta_data_block %}
  <p>
    {% include './re_links.html' %}
    Posted by <a href="{% url 'members:member_profile' response.owner.username %}"><span class="index-heading-span">{{ response.owner }}</span></a>{% if response.publication_date %} on <span class="index-heading-span">{{ response.publication_date|date:"M d, Y" }}</span>{% endif %}{% if response.location %} from <span class="index-heading-span">{{ response.location }}</span>{% endif %}
  </p>
{% endblock %}
{% block text_block %}{{ response.meta_description }}{% endblock %}
{% block tags_block %}
  {% if not post.is_public %}
    <span class="badge bg-dark">Unpublished</span>
  {% endif %}
  {% if post.members_only %}
    <span class="badge bg-warning">Members Only</span>
  {% endif %}
  {% if post.tags.all.count > 0 %}
  {% with post as object %}
    {% include 'objects/object_tags.html' %}
  {% endwith %}
  {% endif %}
{% endblock %}
