<li class="list-group-item music-list-li">
  <div class="row">
    <div class="col-">
      {% if track.image %}
        <div class="music-track-list-image" style="background-image:url('{{ track.image.thumbnail_file.url }}')"></div>
      {% elif track.owner.profile.image %}
        <div class="music-track-list-image" style="background-image:url('{{ track.owner.profile.image.thumbnail_file.url }}')"></div>
      {% else %}
        <div class="music-track-list-image" style="background-image:url('/static/icon.webp')"></div>
      {% endif %}
    </div>
    <div class="col-sm">
      <h5 class="music-title">
        <a href="{% url 'music:track_detail' track.slug %}">
          {{ track.title }}
        </a>
      </h5>
      {% if track.publication_date %}
        <p>
        Released by <a href="{% url 'members:member_profile' track.owner.username %}"><span class="index-heading-span">{{ track.owner }}</span></a> on <span class="index-heading-span">{{ track.creation_date|date:"M d, Y" }}</span>
        </p>
      {% else %}
        {% include 'objects/unpublished.html' %}
      {% endif %}
    </div>
  </div>
</li>
