<li class="list-group-item art-list-li">
  <div class="row">
    <div class="col-auto">
      {% if visual.image %}
        <div class="art-visual-list-image" style="background-image:url('{{ visual.image.thumbnail_file.url }}')"></div>
      {% elif visual.owner.profile.image %}
        <div class="art-visual-list-image" style="background-image:url('{{ visual.owner.profile.image.thumbnail_file.url }}')"></div>
      {% else %}
        <div class="art-visual-list-image" style="background-image:url('/static/icon.webp')"></div>
      {% endif %}
    </div>
    <div class="col-sm">
      <h5 class="art-title">
        <a href="{% url 'art:visual_detail' visual.slug %}">{{ visual.title }}</a>
        {% if not visual.is_public %}
          {% include 'objects/unpublished.html' %}
        {% endif %}
      </h5>
      <p>
        {% if visual.meta_description %}{{ visual.meta_description }}{% endif %}
      </p>
    </div>
  </div>
</li>
