{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container-fluid posts-bg" style="{% if profile.bg_image %} background-image: url('{{ profile.bg_image.image_file.url }}');{% endif %}">
  <!-- Heading -->
  {% include './posts_page_header.html' %}
  <br>
  {% if new_posts or new_responses or sections or profile.links.all.count > 0 or profile.bitcoin_wallet or profile.litecoin_wallet %}
    <div class="row">
      {% if sections %}
        <div class="col-sm">
          {% for section in sections %}
            {% include './posts_page_section.html' %}
          {% endfor %}
          {% include './posts_page_links.html' %}
        </div>
      {% endif %}
      {% if new_posts or new_responses %}
        <div class="col-sm">
          {% include './posts_page_items.html' %}
          {% if not sections %}
            {% include './posts_page_links.html' %}
          {% endif %}
        </div>
      {% endif %}
      {% if not sections and not new_responses and not top_resposnes %}
        {% include './posts_page_links.html' %}
      {% endif %}
    </div>
  {% else %}
    <span class="posts-page-span"><i>Coming Soon...</i></span>
    <br><br>
  {% endif %}
</div>
{% endblock %}
