{% extends "base.html" %}
{% block body_block %}
<div class="container posts-bg">
  {% if post.is_public and post.members_only and not request.user.is_authenticated %}
    <p>This Post is only avaialble for Members of the site.</p>
  {% elif post.is_public or post.owner.pk == request.user.pk %}
    {% include './post_detail_button_bar.html' %}
    {% if post.members_only %}
      <p><i>This Post is only avaialble for Members of the site.</i></p>
    {% endif %}
    <!-- Response -->
    {% if post.re %}
      <p class="post-meta">Re: <a href="{% url 'posts:post_detail' post.re.slug %}">{{ post.re.title }}</a></p>
    {% endif %}
    <!-- Image -->
    <div class="col-sm-6 float-right">
      {% if post.image %}
        <a href="{{ post.image.image_file.url }}">
          <img class="post-image" src="{{ post.image.image_file.url }}" alt="{{ post.image.title }}">
        </a>
        <span class="post-image-text">
          {% if post.image.text %}
            {{ post.image.text }}<br>
          {% endif %}
          {% if post.image.credit %}
            <i>{{ post.image.credit }}</i><br>
          {% endif %}
          {% if post.image.owner.pk == request.user.pk %}
            <a href="{% url 'objects:image_update' post.image.pk %}?next={{ request.path }}">
              <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
            </a>
          {% endif %}
        </span>
      {% endif %}
    </div>
    <!-- Main content -->
    {% if post.text %}
      <div>
        <p class="post-text">{{ post.text|linebreaks }}</p>
      </div>
      <br>
    {% endif %}
    <!-- Sound -->
    {% if post.sound %}
      {% with post.sound as sound %}
        <div>
          <h5 class="post-title">{{ sound.title }}</h5>
          <audio controls="controls">
            {% include 'audio_mime_types.html' %}
          </audio>
          <p>
            {{ sound.text }}
            {% if sound.owner.pk == request.user.pk %}
              <a href="{% url 'objects:sound_update' sound.pk %}?next={{ request.path }}">
                <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
              </a>
            {% endif %}
            <br>
            {% if sound.credit %}
              <i>{{ sound.credit }}</i><br>
            {% endif %}
          </p>
        </div>
        <br>
      {% endwith %}
    {% endif %}
    <!-- Video -->
    {% if post.video %}
      {% with post.video as video %}
        <div>
          <h5 class="post-title">{{ video.title }}</h5>
          <video class="video-player-sm" preload="metadata" controls="controls">
            {% include 'video_mime_types.html' %}
          </video>
          <br>
          <p>
            {{ video.text }}<br>
            {% if video.credit %}
              <i>{{ video.credit }}</i><br>
            {% endif %}
            {% if video.owner.pk == request.user.pk %}
              <a href="{% url 'objects:video_update' video.pk %}?next={{ request.path }}">
                <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
              </a>
            {% endif %}
          </p>
        </div>
        <br>
      {% endwith %}
    {% endif %}
    <!-- Code -->
    {% if post.code %}
      <h5 class="post-title">{{ post.code.title }}</h5>
      {% if post.code.file_path %}
        <span class="code-block post-meta">{{ post.code.file_path }}</span>
      {% endif %}
      <pre class="code-block">{{ post.code.code }}</pre>
      {% if post.code.source_url %}
        <p class="post-meta">Source: <a href="{{ post.code.source_url }}">{{ post.code.source }}</a></p>
      {% else %}
        <p class="post-meta">Source: {{ post.code.source }}</p>
      {% endif %}
      {% if post.code.owner.pk == request.user.pk %}
        <a href="{% url 'objects:code_update' post.code.pk %}?next={{ request.path }}">
          <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
        </a><br>
      {% endif %}
      <br>
    {% endif %}
    <!-- Link -->
    {% if post.link %}
      {% if post.link.title %}
        <h5 class="post-title">{{ post.link.title }}</h5>
      {% endif %}
      {% if post.link.text %}
        <p>{{ post.link.text }}</p>
      {% endif %}
      {% if post.link.favicon_href %}
        <div class="link-list-card float-left" style="background-image:url('{{ post.link.favicon_href }}')"></div>
      {% endif %}
      <p class="link-url">
        <a href="{{ post.link.url }}" class="links-list-link">{{ post.link.url|truncatechars:128 }}</a>
        {% if post.link.owner.pk == request.user.pk %}
          <a href="{% url 'objects:link_update' post.link.pk %}?next={{ request.path }}">
            <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
          </a>
        {% endif %}
      </p>
    {% endif %}
    <div class="clear"></div>
    <!-- Tags -->
    {% if post.tags.count > 0 %}
      {% include './object_tags.html' %}
      <br>
    {% endif %}
    <!-- Responses -->
    {% if responses.count > 0 %}
      {% if request.user.is_authenticated or True in responses.all.members_only or public_response %}
        <h5 class="post-title">Responses</h5>
      {% endif %}
      {% for re in responses %}
        {% if not re.members_only or request.user.is_authenticated %}
          <p><a href="{% url 'posts:post_detail' re.slug %}">{{ re.title }}</a> - {{ re.owner }} - {{ re.publication_date }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
    <!-- Credits -->
    {% if post.is_public %}
      <p>Posted by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> {% if post.publication_date %} on {{ post.publication_date }}{% endif %}{% if post.location %} from {{ post.location }}{% endif %}
      {% if object.last_modified > object.creation_date %}
        <br>Last updated on {{ object.last_modified }}
      {% endif %}
      </p>
    {% else %}
      <p class="post-meta">Created by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.creation_date }}<p>
    {% endif %}
  {% else %}
    <p>This Post has not been published yet.</p>
    <br>
    <br>
  {% endif %}
  <br>
</div>  
{% endblock %}
