{% extends "base.html" %}
{% block body_block %}
{% if profile.bg_image %}<div style="background-image: url('{{ profile.bg_image.image_file.url }}');">{% endif %}
<div class="container posts-bg">
  <p><i>From the <a href="{% url 'posts:posts_page' %}">{{ profile.title }}</a> landing page.</i></p>
  {% include './postspagesection.html' %}
  {% if section.is_public %}
    Contributed by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.publication_date }}<br>
    {% if object.last_modified > object.creation_date %}
      Last updated on {{ object.last_modified }}<br>
    {% endif %}
  {% else %}
    Created by <a href="{% url 'members:member_profile' object.owner.profile.slug %}">{{ object.owner }}</a> on {{ object.creation_date }}<br>
  {% endif %}
  <br>
</div>
<br>
{% if profile.bg_image %}</div>{% endif %}
{% endblock %}
