{% if new_posts or top_posts %}
  {% if new_posts %}
    <div class="posts-section">
      <h4 class="posts-title">New Posts</h4>
      {% for post in new_posts %}
        <li class="list-group-item posts-list-li">
          {% include 'items/post_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
  {% if top_posts %}
    <div class="posts-section">
      <h4 class="posts-title">Top Posts</h4>
      {% for post in top_posts %}
        <li class="list-group-item posts-list-li">
          {% include 'items/post_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if new_responses or top_responses %}
  {% if new_responses %}
    <div class="posts-section">
      <h4 class="posts-title">New Responses</h4>
      {% for response in new_responses %}
        <li class="list-group-item posts-list-li">
          {% include 'items/response_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
  {% if top_responses %}
    <div class="posts-section">
      <h4 class="posts-title">Top Responses</h4>
      {% for response in top_responses %}
        <li class="list-group-item posts-list-li">
          {% include 'items/response_item.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
