{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    {% include './posts_list_header.html' %}
    {% if object_list %}
      {% if page_obj.has_other_pages %}<span class="posts-page-span objects-nav">{% include 'page_control.html' %}</span>{% endif %}
      <br>
      {% block items_block %}
      {% endblock %}
      {% if page_obj.has_other_pages %}<span class="posts-page-span objects-nav">{% include 'page_control.html' %}</span>{% endif %}
    {% else %}
      <br>
      <div class="container">
        <span class="posts-page-span objects-alert">No {{ app_list_context|lower }} have been published yet. Check back soon!</span>
      </div>
      <br>
    {% endif %}
    <br>
  </div>
{% endblock %}
