{% extends "base.html" %}
{% block body_block %}
{% if profile.bg_image %}<div style="background-image: url('{{ profile.bg_image.image_file.url }}');">{% endif %}
<div class="container posts-bg">
  {% if not request.user.is_authenticated and post.members_only %}
    <p><i>This Post is only visible to authenticated members.</i></p>
    <br>
  {% elif post.is_public or post.owner.pk == request.user.pk %}
    <!-- Title bar-->
    {% include './post_detail_title_bar.html' %}
    <!-- Meta data -->
      {% if post.members_only %}
        <p><i>This Post is only visible to authenticated members</i></p>
      {% endif %}
      {% if post.is_public %}
        <p>
          Posted by
          <span class="index-page-span"><a href="{% url 'members:member_profile' post.owner.profile.slug %}">{{ post.owner }}</a></span>
          on <span class="index-page-span">{{ post.publication_date|date:"M d, Y" }}</span>
          {% if post.location %}
            from <span class="index-page-span">{{ post.location }}</span>
          {% endif %}<br>
          {% if post.last_modified > post.publication_date %}
            Last updated on
            <span class="index-page-span">{{ post.last_modified|date:"M d, Y" }}</span>
          {% endif %}
        </p>
      {% else %}
        <p>
          Owned by <a href="{% url 'members:member_profile' post.owner.profile.slug %}">{{ post.owner }}</a>, created on {{ post.creation_date }}
          <span class="badge badge-dark">Unpublished</span>
        </p>
      {% endif %}
    <!-- Image -->
    <div class="col-sm-6 float-right">
      {% if post.image %}
        <a href="{{ post.image.image_file.url }}">
          <img class="images-image" src="{{ post.image.image_file.url }}" alt="{{ post.image.title }}">
        </a>
        <span class="post-image-text">
          <p>
            {% if post.image.text %}
              {{ post.image.text }}<br>
            {% endif %}
            {% if post.image.credit %}
              <i>{{ post.image.credit }}</i><br>
            {% endif %}
            {% if post.image.owner.pk == request.user.pk %}
             <a href="{% url 'objects:image_update' post.image.pk %}?next={{ request.path }}">
               <button class="btn btn-sm btn-warning edit-button">&#9998;</button>
             </a><br>
            {% endif %}
          </p>
        </span>
      {% endif %}
    </div>
    <!-- Main content -->
    {% if post.text %}
      {{ post.text|linebreaks }}
    {% endif %}
    {% if post.sound %}
      {% with post.sound as sound %}
        {% include 'objects/object_sound.html' %}
      {% endwith %}
    {% endif %}
    {% if post.video %}
      {% with post.video as video %}
        {% include 'objects/object_video.html' %}
      {% endwith %}
    {% endif %}
    {% if post.code %}
      {% with post.code as code %}
        {% include 'objects/object_code.html' %}
      {% endwith %}
    {% endif %}
    <div class="clear"></div>
    {% if post.link %}
      {% with post.link as link %}
        {% include 'objects/object_link.html' %}
        <br>
      {% endwith %}
    {% endif %}
    <!-- Responses -->
    {% if responses.count > 0 %}
      <h4 class="posts-title">Responses</h4>
      <ul class="list-group">
        {% for response in responses %}
          <li class="list-group-item posts-list-li">
            {% include 'items/response_detail_item.html' %}
          </li>
        {% endfor %}
      </ul>
      <br>
    {% endif %}
    {% if post.bitcoin_wallet or post.litecoin_wallet %}
      <h4 class="posts-title">Donate</h4>
      <br>
      {% with post.bitcoin_wallet as bitcoin_wallet %}
        {% with post.litecoin_wallet as litecoin_wallet %}
          {% include 'objects/object_crypto_wallets.html' %}
        {% endwith %}
      {% endwith %}
    {% endif %}
    <div class="row">
      <div class="col-sm">
        {% include 'objects/object_tags.html' %}
      </div>
      {% if post.is_public %}
        <div class="col-">
          <div class="container">
            {% include 'buttons/response_button.html' %}
            {% include 'buttons/marshmallow_button.html' %}
          </div>
        </div>
      {% endif %}
    </div>
    <br>
  {% else %}
    <p>This post has not been published yet.</p>
    <br>
  {% endif %}
</div>  
<br>
{% if profile.bg_image %}</div>{% endif %}
{% endblock %}
