<div class="row">
  {% if new_posts.all.count > 0 %}
    <div class="col-sm">
      <ul class="list-group posts-section">
        <h4 class="posts-page-title">New Posts</h4>
        {% for post in new_posts %}
          <li class="list-group-item posts-list-li">
            {% include "./post_item.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if top_posts.all.count > 0 %}
    <div class="col-sm">
      <ul class="list-group posts-section">
        <h4 class="posts-page-title">Top Posts</h4>
        {% for post in top_posts %}
          <li class="list-group-item posts-list-li">
            {% include "./post_item.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if new_responses.all.count > 0 %}
    <div class="col-sm">
      <ul class="list-group posts-section">
        <h4 class="posts-page-title">New Responses</h4>
        {% for response in new_responses %}
          <li class="list-group-item posts-list-li">
            {% include "./response_item.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if top_responses.count > 0 %}
    <div class="col-sm">
      <ul class="list-group posts-section">
        <h4 class="posts-page-title">Top Responses</h4>
        {% for response in top_responses %}
          <li class="list-group-item posts-list-li">
            {% include "./response_item.html" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% if profile.bitcoin_wallet or profile.litecoin_wallet %}
  <div class="posts-section">
    <h4 class="posts-page-title">Donate</h4>
    {% with profile.bitcoin_wallet as bitcoin_wallet %}
      {% with profile.litecoin_wallet as litecoin_wallet %}
        {% include 'object_crypto_wallets.html' %}
      {% endwith %}
    {% endwith %}
  </div>
{% endif %}
{% if profile.links.count > 0 %}
  {% with profile.links.all as links %}
    <div class="posts-section">
      <h4 class="posts-page-title">External Links</h4>
      {% include 'object_links.html' %}
    </div>
  {% endwith %}
{% endif %}
