<div class="row">
  <div class="col">
    <h4 class="posts-page-title">{{ post.title }}</h4>
  </div>
  {% if post.owner.pk == request.user.pk %}
    <div class="col-">
      <div class="container">
        <div class="btn-group" role="group" aria-label="Post Actions">
          {% include 'buttons/detail_publish_button.html' %}
          {% include 'buttons/detail_edit_button.html' %}
          {% include 'buttons/detail_delete_button.html' %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
