<div class="row">
  <div class="col">
    <h4 class="posts-page-title">{{ response.title }}</h4>
  </div>
  {% if response.owner.pk == request.user.pk %}
    <div class="col-">
      <a href="{% url 'posts:response_delete' response.pk %}">
        <button type="button" class="btn btn-sm  btn-danger float-right">Delete</button>
      </a>
      <a href="{% url 'posts:response_update' response.slug %}">
        <button type="button" class="btn btn-sm btn-warning float-right">Edit</button>
      </a>
      {% if not response.is_public %}
        <a href="{% url 'posts:publish_response' response.pk %}">
          <button type="button" class="btn btn-sm  btn-success float-right">Publish</button>
        </a>
      {% endif %}
    </div>
  {% endif %}
</div>
